<%- model_class = Apply -%>

<div class="panel panel-default monospace">
  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%= link_to 'Objects', area_objs_path(@area) %> / <%= link_to "#{@obj.formal_vnum} #{@obj.sdesc}", area_obj_path(@area, @obj) %> / <%= apply_type_name(@apply.apply_type) %>
    </h5>
  </div>
    <div class="panel-body">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_obj_path(@area, @obj) %></div>

</div>
