<%- model_class = Apply -%>

<div class="panel panel-default">
    <div class="panel-heading monospace"><h3>
        <%= link_to @area.name, area_path(@area) %> /
        <%= link_to "Obj: #{@obj.vnum}", area_obj_path(@area, @obj) %> /
        <%= @apply.apply_type %>
    </h3></div>
    <div class="panel-body monospace">
      
      <div class="row">
        <div class="col-md-2">
          <strong>Apply Type:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <% if @apply.apply_type == 1 %>STR<% end %>
            <% if @apply.apply_type == 2 %>DEX<% end %>
            <% if @apply.apply_type == 3 %>INT<% end %>
            <% if @apply.apply_type == 4 %>WIS<% end %>
            <% if @apply.apply_type == 5 %>CON<% end %>
            <% if @apply.apply_type == 12 %>MANA<% end %>
            <% if @apply.apply_type == 13 %>HIT<% end %>
            <% if @apply.apply_type == 14 %>MOVE<% end %>
            <% if @apply.apply_type == 17 %>AC<% end %>
            <% if @apply.apply_type == 18 %>HITROLL<% end %>
            <% if @apply.apply_type == 19 %>DAMROLL<% end %>
            <% if @apply.apply_type == 24 %>SAVE V SPELL<% end %>
            <% if @apply.apply_type == 25 %>CHARISMA<% end %>
            <% if @apply.apply_type == 26 %>LUCK<% end %>
            <% if @apply.apply_type == 27 %>NOSTEAL<% end %>
            <% if @apply.apply_type == 28 %>NOSLEEP<% end %>
            <% if @apply.apply_type == 29 %>NOSUMMON<% end %>
            <% if @apply.apply_type == 30 %>NOCHARM<% end %>
            <% if @apply.apply_type == 31 %>NOSEXCHANGE<% end %>
            <% if @apply.apply_type == 32 %>TRUESEE<% end %>
            <% if @apply.apply_type == 33 %>NOINFO<% end %>
            <% if @apply.apply_type == 34 %>WATERBREATH<% end %>
            <% if @apply.apply_type == 41 %>DAMAGE ABSORPTION<% end %>
            <% if @apply.apply_type == 43 %>MAGICAL RESISTANCE<% end %>
          </div>
        </div>
      </div><br/>      
      <div class="row">
        <div class="col-md-2">
          <strong>Amount:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <td><%= @apply.amount %></td>
          </div>
        </div>
      </div><br/>

      <div class="form-group">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    area_obj_path(@area, @obj), :class => 'btn btn-default'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_area_obj_apply_path(@area, @obj, @apply), :class => 'btn btn-default' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    area_obj_apply_path(@area, @obj, @apply),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </div>

    </div>
    
</div>
