<div id="ParentRoomID" hidden='hidden' ><%= @exit.room.id %></div>

<%= form_for [@exit.room.area, @exit.room, @exit], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @exit.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@exit.errors.count, "error") %> prohibited this exit from being saved:</h3>

      <ul>
      <% @exit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :direction, :class => 'control-label col-md-2' %> 
    <div class="col-md-10">
    <%= f.select(:direction, options_for_select(
          [
            ['north', 0],
            ['east', 1],
            ['south', 2],
            ['west', 3],
            ['up', 4],
            ['down', 5]
          ], @exit.direction
        ), {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :description, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :keywords, 'Keywords', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :keywords, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :exittype, 'Exit type', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
    <%= f.select(:exittype, options_for_select(
          [
            ['No Exit (For Wall/Direction Descriptions)', -1],
            ['Exit with No Door', 0],
            ['Exit with Door (Passable/Pickable)', 1],
            ['Exit with Door (Not Passable/Pickable)', 2],
            ['Trap Exit (Used with Spec_Collapse, Down Only)', 3]
          ], @exit.exittype
        ), {}, {class: "form-control"}) %>
    </div>
  </div>

  <%= f.hidden_field :name, {:id => 'DoorNameBlank', :value => ''} %>
  
  <fieldset id="DoorName">
    <div class="form-group">
      <%= f.label :name, 'Door name', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :name, :class => 'text_field form-control' %>
      </div>
    </div>
  </fieldset>

  <% @area.objs.exists?(:id => @exit.keyvnum)      ? $LocalDoorKeyVnumRadio = true : $LocalDoorKeyVnumRadio = false %>
  <% @exit.keyvnum > (@exit.room.area.vnum_qty - 1) ? $ExternalDoorKeyVnumRadio = true : $ExternalDoorKeyVnumRadio = false %>
  <% !$LocalKeyVnumRadio && !(@exit.keyvnum > (@exit.room.area.vnum_qty - 1))     ? $NoDoorKeyRadio = true : $NoDoorKeyRadio = false %>

  <div id="DoorKeyGroup">
    <div class="form-group">
      <%= f.label 'Key', :class => 'control-label col-md-2' %>
      <div class="col-md-3">
        <label class="radio-inline">
          <input type="radio" name="DoorKeyVnumRadioOptions" id="LocalDoorKeyVnumRadio" value="1" <%= "checked" if $LocalDoorKeyVnumRadio %>> Local Key Vnum
        </label>
      </div>
  
      <div class="col-md-3">
        <label class="radio-inline">
          <input type="radio" name="DoorKeyVnumRadioOptions" id="ExternalDoorKeyVnumRadio" value="2" <%= "checked" if $ExternalDoorKeyVnumRadio %>> External Key Vnum
        </label>
      </div>
      
      <div class="col-md-3">
        <label class="radio-inline">
          <input type="radio" name="DoorKeyVnumRadioOptions" id="NoDoorKeyRadio" value="3" <%= "checked" if $NoDoorKeyRadio %>> No Key
        </label>
      </div>
  
    </div>
    
    <div id="LocalDoorKeyVnumGroup" class="form-group">
      <%= f.label :keyvnum, 'Local key vnum', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.collection_select(:keyvnum, @area.objs.order('vnum ASC'), :id, :vnum_and_sdesc, {}, {:id => 'LocalDoorKeyVnumField', :class => 'form-control'})  %>
      </div>
    </div>
    
    <div id="ExternalDoorKeyVnumGroup" class="form-group">
      <%= f.label :keyvnum, 'External key vnum', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :keyvnum, {:id => 'ExternalDoorKeyVnumField', :class => 'text_field form-control'} %>
      </div>
    </div>
  </div>
  
  <%= f.hidden_field :keyvnum, {:id => 'NoDoorKeyField', :value => 0} %>

  <% @exit.exit_room_id == -1 ? $NoExitVnumRadio = true : $NoExitVnumRadio = false %>
  <% @exit.is_external? ? $ExternalVnumRadio = true : $ExternalVnumRadio = false %>
  <% @exit.destination_exists? ? $LocalVnumRadio = true : $LocalVnumRadio = false %>

  <div id="ExitDestinationGroup" class="form-group">
    <%= f.label 'Exit Destination', :class => 'control-label col-md-2' %>
    <div class="col-md-3">
      <label class="radio-inline">
        <input type="radio" name="ExitDestinationRadioOptions" id="LocalVnumRadio" value="1" <%= "checked" if $LocalVnumRadio %>> Local Exit Vnum
      </label>
    </div>

    <div class="col-md-3">
      <label class="radio-inline">
        <input type="radio" name="ExitDestinationRadioOptions" id="ExternalVnumRadio" value="2" <%= "checked" if $ExternalVnumRadio %>> External Exit Vnum
      </label>
    </div>
    
    <div class="col-md-3">
      <label class="radio-inline">
        <input type="radio" name="ExitDestinationRadioOptions" id="NoExitVnumRadio" value="3" <%= "checked" if $NoExitVnumRadio %>> No Exit (Look direction)
      </label>
    </div>
  </div>

  <div class="form-group" id="LocalVnumFormGroup" hidden="hidden">
    <%= f.label :exit_room_id, 'Exit to', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <% if @area.rooms.count < @area.vnum_qty %>
        <%= f.select(:exit_room_id, options_for_select(
              [['--- New Room', 0]] + @area.rooms.order('vnum ASC').map{ |e| [e.vnum_and_name, e.id] }, @exit.exit_room_id
            ), {}, {:class => "form-control"}) %>
      <% else %>
        <%= f.select(:exit_room_id, options_for_select(
              @area.rooms.order('vnum ASC').map{ |e| [e.vnum_and_name, e.id] }, @exit.exit_room_id
            ), {}, {:class => "form-control"}) %>
      <% end %>
      <span id="ExitIDHelpBlock" class="help-block">Warning: Loopback exit selected.</span>
    </div>
  </div>

  <div class="form-group" id="ExternalVnumFormGroup" hidden="hidden">
    <%= f.label :exit_room_id, 'External Vnum', {:id => 'ExternalVnumFieldLabel', :class => 'control-label col-md-2'} %>
    <div class="col-md-10">
      <%= f.text_field :exit_room_id, {:id => 'ExternalVnumField', :class => 'text_field form-control'} %>
    </div>
  </div>
  
  <%= f.hidden_field :exit_room_id, {:id => 'NoExitField', :value => -1} %>
  
  <%= f.hidden_field :reset, {:id => 'NoDoorReset', :value => -1} %>
  
  <div class="form-group" id="DoorResetGroup">
    <%= f.label :reset, 'Door reset', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:reset, options_for_select(
            [
              ['none', -1],
              ['open', 0],
              ['closed', 1],
              ['closed & locked', 2]
            ], @exit.reset
          ), {}, {class: "form-control"}) %>
    </div>
  </div>
  
  <fieldset id="Reciprocality">
    <div class="form-group">
      <label class="control-label col-md-2" for="exit_force_reciprocal">Reciprocality</label>
      <div class="check_box col-md-10">
        <!--<input name="force_reciprocal" type="hidden" value="0" />--><input id="exit_force_reciprocal" name="force_reciprocal" type="checkbox" value="1" />
        <label class="control-label non-bold" for="exit_force_reciprocal">(force reciprocality and matching properties on the far side)</label>
      </div>
    </div>
  </fieldset>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_room_path(@area, @room), :class => 'btn btn-default' %>
    </div>
  </div>
  
<script type = "text/javascript">
  initExitsForm();
</script> 
  
<% end %>