<%= form_for [@exit.room.area, @exit.room, @exit], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @exit.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@exit.errors.count, "error") %> prohibited this exit from being saved:</h3>

      <ul>
      <% @exit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :direction, :class => 'control-label col-md-2' %> 
    <div class="col-md-10">
    <%= f.select(:direction, options_for_select(
          [
            ['north', 0],
            ['east', 1],
            ['south', 2],
            ['west', 3],
            ['up', 4],
            ['down', 5]
          ], @exit.direction
        ), {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :description, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :keywords, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :keywords, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :exittype, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
    <%= f.select(:exittype, options_for_select(
          [
            ['No Exit (For Wall/Direction Descriptions)', -1],
            ['No Door', 0],
            ['Door (Passable/Pickable)', 1],
            ['Door (Not Passable/Pickable)', 2],
            ['Trap (Used with Spec_Collapse, Down Only)', 3]
          ], @exit.exittype
        ), {}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :keyvnum, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :keyvnum, :class => 'text_field form-control' %>
    </div>
  </div>
  <!-- OLD METHOD
  <div class="form-group">
    <%= f.label :exit_room_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :exit_room_id, :class => 'text_field form-control' %>
    </div>
  </div>
  -->
  
  <script type = "text/javascript">
    $(function() {
        $('#undefined_room').click(function() {
            var cb = $('#undefined_room').is(':checked');
            $('#exit_exit_room_id').prop('disabled', cb);
        });
    });
  </script>
  
   <div class="form-group">
    <%= f.label :exit_room_id, 'Undefined Exit', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :exit_room_id, {:id => 'undefined_room', :class => "checkbox"}, -1 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :exit_room_id, 'Exit to', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:exit_room_id, @area.rooms.order('vnum ASC'), :id, :vnum_and_name, {}, {disabled: 'disabled', class: "form-control"})  %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_room_path(@area, @room), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
