<%- model_class = Exit -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:direction) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:keywords) %></th>
      <th><%= model_class.human_attribute_name(:exittype) %></th>
      <th><%= model_class.human_attribute_name(:keyvnum) %></th>
      <th>Exit To</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:room_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @exits.each do |exit| %>
      <tr>
        <td><%= exit.id %></td>
          <td><%= exit.direction %></td>
          <td><%= exit.description %></td>
          <td><%= exit.keywords %></td>
          <td><%= exit.exittype %></td>
          <td><%= exit.keyvnum %></td>
          <td>
            <% if @exit.destination_exists? %>
              <%= @exit.destination.vnum %>
            <% else %>
              *** BAD EXIT: NO DESTINATION ***
            <% end %>
            </td>
          <td><%= exit.name %></td>
          <td><%= exit.room_id %></td>
        <td><%=l exit.created_at, format: :long %></td>
        <td>
          <%= link_to area_room_exit_path(@area, @room, exit), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
          <%- end -%>
          <%= link_to edit_area_room_exit_path(@area, @room, exit), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to area_room_exit_path(@area, @room, exit), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_area_room_exit_path,
            :class => 'btn btn-primary' %>
