<%- model_class = Exit -%>

<div class="panel panel-default">
    <div class="panel-heading monospace"><h3>
        <%= link_to @area.name, area_path(@area) %> /
        <%= link_to "Room: #{@room.vnum}", area_room_path(@area, @room) %> /
        <%= @exit.direction %>
    </h3></div>
    <div class="panel-body monospace">
      
      <div class="fieldset">
        <dl>
            <dt class="label label-default"><%= model_class.human_attribute_name(:direction) %></dt>
            <dd><pre class="prettyprint"><%= @exit.direction %></pre></dd>
            <dt class="label label-default"><%= model_class.human_attribute_name(:description) %></dt>
            <dd><pre class="prettyprint"><%= @exit.description %></pre></dd>
            <dt class="label label-default"><%= model_class.human_attribute_name(:keywords) %></dt>
            <dd><pre class="prettyprint"><%= @exit.keywords %></pre></dd>
            <dt class="label label-default"><%= model_class.human_attribute_name(:exittype) %></dt>
            <dd><pre class="prettyprint"><%= @exit.exittype %></pre></dd>
            <dt class="label label-default"><%= model_class.human_attribute_name(:keyvnum) %></dt>
            <dd><pre class="prettyprint"><%= @exit.keyvnum %></pre></dd>
            <dt class="label label-default"><%= model_class.human_attribute_name(:exitto) %></dt>
            <dd><pre class="prettyprint"><%= @exit.exitto %></pre></dd>
            <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
            <dd><pre class="prettyprint"><%= @exit.name %></pre></dd>
            <dt class="label label-default"><%= model_class.human_attribute_name(:room_id) %></dt>
            <dd><pre class="prettyprint"><%= @exit.room_id %></pre></dd>
        </dl>
      </div>
      
      <div class="form-group">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    area_room_path(@area, @room), :class => 'btn btn-default'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_area_room_exit_path(@area, @room, @exit), :class => 'btn btn-default' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    area_room_exit_path(@area, @room, @exit),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </div>

    </div>
    
</div>
