    <%= f.hidden_field :val_3, :value => 'No Door' %>
    
    <div class="form-group">
      <%= f.label 'Door', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        
        <div class="col-md-2">
          <label class="radio-inline">
            <% if Room.find(@reset.val_2).exits.exists?(:direction => 0) %>
              <% if Room.find(@reset.val_2).exits.where(:direction => 0).first.has_door? %>
                <%= f.radio_button :val_3, 0 %> North
              <% else %>
                <%= f.radio_button :val_3, 0, :disabled => true %> No North Door
              <% end %>
            <% else %>
              <%= f.radio_button :val_3, 0, :disabled => true %> No North Exit
            <% end %>
          </label>
        </div>
    
        <div class="col-md-2">
          <label class="radio-inline">
            <% if Room.find(@reset.val_2).exits.exists?(:direction => 1) %>
              <% if Room.find(@reset.val_2).exits.where(:direction => 1).first.has_door? %>
                <%= f.radio_button :val_3, 1 %> East
              <% else %>
                <%= f.radio_button :val_3, 1, :disabled => true %> No East Door
              <% end %>
            <% else %>
              <%= f.radio_button :val_3, 1, :disabled => true %> No East Exit
            <% end %>
          </label>
        </div>
        
        <div class="col-md-2">
          <label class="radio-inline">
            <% if Room.find(@reset.val_2).exits.exists?(:direction => 2) %>
              <% if Room.find(@reset.val_2).exits.where(:direction => 2).first.has_door? %>
                <%= f.radio_button :val_3, 2 %> South
              <% else %>
                <%= f.radio_button :val_3, 2, :disabled => true %> No South Door
              <% end %>
            <% else %>
              <%= f.radio_button :val_3, 2, :disabled => true %> No South Exit
            <% end %>
          </label>
        </div>
        
        <div class="col-md-2">
          <label class="radio-inline">
            <% if Room.find(@reset.val_2).exits.exists?(:direction => 3) %>
              <% if Room.find(@reset.val_2).exits.where(:direction => 3).first.has_door? %>
                <%= f.radio_button :val_3, 3 %> West
              <% else %>
                <%= f.radio_button :val_3, 3, :disabled => true %> No West Door
              <% end %>
            <% else %>
              <%= f.radio_button :val_3, 3, :disabled => true %> No West Exit
            <% end %>
          </label>
        </div>
        
        <div class="col-md-2">
          <label class="radio-inline">
            <% if Room.find(@reset.val_2).exits.exists?(:direction => 4) %>
              <% if Room.find(@reset.val_2).exits.where(:direction => 4).first.has_door? %>
                <%= f.radio_button :val_3, 4 %> Up
              <% else %>
                <%= f.radio_button :val_3, 4, :disabled => true %> No Up Door
              <% end %>
            <% else %>
              <%= f.radio_button :val_3, 4, :disabled => true %> No Up Exit
            <% end %>
          </label>
        </div>
        
        <div class="col-md-2">
          <label class="radio-inline">
            <% if Room.find(@reset.val_2).exits.exists?(:direction => 5) %>
              <% if Room.find(@reset.val_2).exits.where(:direction => 5).first.has_door? %>
                <%= f.radio_button :val_3, 5 %> Down
              <% else %>
                <%= f.radio_button :val_3, 5, :disabled => true %> No Down Door
              <% end %>
            <% else %>
              <%= f.radio_button :val_3, 5, :disabled => true %> No Down Exit
            <% end %>
          </label>
        </div>
        
      </div>
    </div>
    
    
    
    
    <!--<% if ( reset.reset_type == 'M' || reset.reset_type == 'Q' ) %><%= reset.reset_type %> <%= reset.val_1 %> <%= Mobile.find(reset.val_2).formal_vnum %> <%= reset.val_3 %> <%= Room.find(reset.val_4).formal_vnum %> * <%= reset.comment %><% end %><% if reset.reset_type == 'O' %><%= reset.reset_type %> <%= reset.val_1 %> <%= Obj.find(reset.val_2).formal_vnum %> <%= reset.val_3 %> <%= Room.find(reset.val_4).formal_vnum %> * <%= reset.comment %><% end %><% if reset.reset_type == 'D' %><%= reset.reset_type %> <%= reset.val_1 %> <%= Room.find(reset.val_2).formal_vnum %> <%= reset.val_3 %> <%= reset.val_4 %> * <%= reset.comment %><% end %><% if reset.reset_type == 'R' %><%= reset.reset_type %> <%= reset.val_1 %> <%= Room.find(reset.val_2).formal_vnum %> <%= reset.val_3 %> * <%= reset.comment %><% end %>-->
    
    
    
      <div class="form-group">
    <%= f.label :file, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      
        <%= f.file_field :file %>
        
        <span class="btn btn-default btn-file">
            Browse <input type="file">
        </span>
            
    </div>
  </div>
  
  
  
<!--
<div class="form-group">
  <%= f.label :file, :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <div class="input-group">
        <span class="input-group-btn">
            <span class="btn btn-primary btn-file">
                Browse <input type="file" multiple>
            </span>
        </span>
        <input type="text" class="form-control" readonly>
    </div>
  </div>
</div>

<div class="form-group">
  <div class='col-md-offset-2 col-md-10'>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                areas_path, :class => 'btn btn-default' %>
  </div>
</div>
-->




  def self.import(file, user_id)

    range_low ||= 0
    range_high ||= 0
    author ||= ''
    name ||= ''
    flags ||= 0
    
    lines = file.tempfile.readlines.map(&:chomp) #readlines from file & removes newline symbol
    lines.each do |l| 
      if (l.include?("#AREA") && l.include?("~")) # FORMAT 1 Area Header
        m = l.match(/\{(.*)\} (........) (.*)~\s*F (\d+)/)

          if m
            author = m[2].strip
            name = m[3].strip
            flags = m[4].to_i
    
            if m[1].match(/(\d) (\d)/)
              range = m[1].match(/(\d+) (\d+)/)
                range_low = range[1].to_i
                range_high = range[2].to_i
            else
              if m[1].match(/ALL/)
                range_low = 1
                range_high = 50
              end
              if m[1].match(/HARD/)
                range_low = 50
                range_high = 50
              end
            end
          end

      end
    end
    
    
    
    
    
          <%= link_to({ :controller => "exits", 
                                       :action => "create",
                                       :area_id => @room.area.id,
                                       :room_id => @room.id,
                                       :exittype => -1,
                                       :keyvnum => 0,
                                       :exit_room_id => -1,
                                       :description => '',
                                       :name => '',
                                       :keywords => '',
                                       :direction => dir
                                       },
                                       :method => "post",
                                       :class => 'btn btn-default btn-md btn-block'
                                       ) do %>
        No <%= num_to_dir(dir).titleize %> Exit<br>
        <br>
        Add?
      <% end %>
      
      
      
      
OLD ROOM SHOW


<div class="row">
        <div class="col-md-2">
          <strong>Formal Vnum:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @room.formal_vnum %>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong><%= model_class.human_attribute_name(:name) %>:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @room.name %>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong><%= model_class.human_attribute_name(:description) %>:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= simple_format(word_wrap(@room.description, line_width: ApplicationController::WORDWRAP_LENGTH)) %>
          </div>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong><%= model_class.human_attribute_name(:room_flags) %>:</strong>
        </div>
        <div class="col-md-10">
          <% if @room.room_flags == 0 %><div class="col-md-2">NONE</div><% end %>
          <% if @room.dark? %><div class="col-md-2">DARK</div><% end %>
          <% if @room.no_sleep? %><div class="col-md-2">NO SLEEP</div><% end %>
          <% if @room.no_mob? %><div class="col-md-2">NO MOB</div><% end %>
          <% if @room.indoors? %><div class="col-md-2">INDOORS</div><% end %>
          <% if @room.foggy? %><div class="col-md-2">FOGGY</div><% end %>
          <% if @room.fire? %><div class="col-md-2">FIRE</div><% end %>
          <% if @room.lava? %><div class="col-md-2">LAVA</div><% end %>
          <% if @room.private_room? %><div class="col-md-2">PRIVATE</div><% end %>
          <% if @room.peaceful? %><div class="col-md-2">PEACEFUL</div><% end %>
          <% if @room.solitary? %><div class="col-md-2">SOLITARY</div><% end %>
          <% if @room.no_recall? %><div class="col-md-2">NO RECALL</div><% end %>
          <% if @room.no_steal? %><div class="col-md-2">NO STEAL</div><% end %>
          <% if @room.notrans? %><div class="col-md-2">NOTRANS</div><% end %>
          <% if @room.no_spell? %><div class="col-md-2">NO SPELL</div><% end %>
          <% if @room.seafloor? %><div class="col-md-2">SEAFLOOR</div><% end %>
          <% if @room.no_fly? %><div class="col-md-2">NO FLY</div><% end %>
          <% if @room.holy_ground? %><div class="col-md-2">HOLY GROUND</div><% end %>
          <% if @room.fly_ok? %><div class="col-md-2">FLY OK</div><% end %>
          <% if @room.no_quest? %><div class="col-md-2">NO QUEST</div><% end %>
          <% if @room.no_item? %><div class="col-md-2">NO ITEM</div><% end %>
          <% if @room.no_vnum? %><div class="col-md-2">NO VNUM</div><% end %>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong><%= model_class.human_attribute_name(:terrain) %>:</strong>
        </div>
        <div class="col-md-10">
          <%= @room.terrain_word %>
        </div>
      </div><br/>