<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<div class="panel panel-default monospace">
  <div class="panel-heading">
    <h3>Edit <%= resource_name.to_s.humanize %> Settings 
      <% if current_user.is_admin? %>
        <span class="badge">Admin
        </span>
      <% end %>
    </h3>
  </div>
  <div class="panel-body form-horizontal">

    <%= devise_error_messages! %>
  
    <div class="form-group">
      <%= f.label :time_zone, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.time_zone_select :time_zone, nil, {:default => 'Arizona'}, {:class => 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :settings, 'Settings', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
    
          <div class="check_box col-md-3">
            <%= f.check_box :collapse_panels, {:checked => current_user.collapse_panels? ? true : false} %>
            <%= f.label :collapse_panels, 'collapse_panels'.humanize.upcase, :class => 'control-label non-bold' %>
          </div>

          <div class="check_box col-md-3">
            <%= f.check_box :use_rulers, {:checked => current_user.use_rulers? ? true : false} %>
            <%= f.label :use_rulers, 'use_rulers'.humanize.upcase, :class => 'control-label non-bold' %>
          </div>

      </div>  
    </div>
  </div>
  <div class="panel-footer">
    <%= f.submit 'Update', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn btn-default' %>
  </div>
</div>

<% end %>