<% spell_list = [
					['Acid Blast', 'acid blast'],
					['Alarm', 'alarm'],
					['Animate Dead', 'animate dead'],
					['Armor', 'armor'],
					['Attunement', 'attunement'],
					['Bear Totem', 'bear totem'],
					['Bless', 'bless'],
					['Blindness', 'blindness'],
					['Boar Totem', 'boar totem'],
					['Burning Hands', 'burning hands'],
					['Call Lightning', 'call lightning'],
					['Cause Critical Wounds', 'cause critical wounds'],
					['Cause Disease', 'cause disease'],
					['Cause Light Wounds', 'cause light wounds'],
					['Cause Serious Wounds', 'cause serious wounds'],
					['Change Sex', 'change sex'],
					['Charm Person', 'charm person'],
					['Chill Touch', 'chill touch'],
					['Cloak of Protection', 'cloak of protection'],
					['Colour Spray', 'colour spray'],
					['Comprehend', 'comprehend'],
					['Confusion', 'confusion'],
					['Continual Light', 'continual light'],
					['Control Weather', 'control weather'],
					['Create Food', 'create food'],
					['Create Spring', 'create spring'],
					['Create Water', 'create water'],
					['Cure Blindness', 'cure blindness'],
					['Cure Critical Wounds', 'cure critical wounds'],
					['Cure Deafness', 'cure deafness'],
					['Cure Disease', 'cure disease'],
					['Cure Light Wounds', 'cure light wounds'],
					['Cure Mute', 'cure mute'],
					['Cure Poison', 'cure poison'],
					['Cure Serious Wounds', 'cure serious wounds'],
					['Curse', 'curse'],
					['Darkness', 'darkness'],
					['Deafness', 'deafness'],
					['Detect Disease', 'detect disease'],
					['Detect Evil', 'detect evil'],
					['Detect Good', 'detect good'],
					['Detect Hidden', 'detect hidden'],
					['Detect Invisibility', 'detect invisibility'],
					['Detect magic', 'detect magic'],
					['Detect Poison', 'detect poison'],
					['Dispel Evil', 'dispel evil'],
					['Dispel Good', 'dispel good'],
					['Dispel Magic', 'dispel magic'],
					['Earthquake', 'earthquake'],
					['Enchant Weapon', 'enchant weapon'],
					['Energy Drain', 'energy drain'],
					['Exclude', 'exclude'],
					['Faerie Fire', 'faerie fire'],
					['Faerie Fog', 'faerie fog'],
					['Fear', 'fear'],
					['Fireball', 'fireball'],
					['Flamestrike', 'flamestrike'],
					['Fly', 'fly'],
					['Gate a Vampire', 'gate a vampire'],
					['Give Health', 'give health'],
					['Give Mana', 'give mana'],
					['Give Moves', 'give moves'],
					['Hailstorm', 'hailstorm'],
					['Harm', 'harm'],
					['Heal', 'heal'],
					['Hurricane', 'hurricane'],
					['Identify', 'identify'],
					['Immunity', 'immunity'],
					['Improved Identify', 'improved identify'],
					['Improved Invisibility', 'improved invisibility'],
					['Infravision', 'infravision'],
					['Invisibility', 'invisibility'],
					['Jump', 'jump'],
					['Know Alignment', 'know alignment'],
					['Lightning Bolt', 'lightning bolt'],
					['Locate Object', 'locate object'],
					['Magic Missile', 'magic missile'],
					['Magic Stone', 'magic stone'],
					['Mass Invisibility', 'mass invisibility'],
					['Meteor Swarm', 'meteor swarm'],
					['Mute', 'mute'],
					['Naturalize', 'naturalize'],
					['Onset of Disease', 'onset of disease'],
					['Owl Totem', 'owl totem'],
					['Pass Door', 'pass door'],
					['Pass Without Trace', 'pass without trace'],
					['Phosphate', 'phosphate'],
					['Poison', 'poison'],
					['Portal', 'portal'],
					['Protection from Evil', 'protection from evil'],
					['Protection from Good', 'protection from good'],
					['Quiet', 'quiet'],
					['Refresh', 'refresh'],
					['Remove Curse', 'remove curse'],
					['Remove Fear', 'remove fear'],
					['Rift Souls', 'rift souls'],
					['Sanctuary', 'sanctuary'],
					['Shield', 'shield'],
					['Shocking Grasp', 'shocking grasp'],
					['Silence', 'silence'],
					['Sleep', 'sleep'],
					['Soul Sense', 'soul sense'],
					['Spiritual Hammer', 'spiritual hammer'],
					['Stone Skin', 'stone skin'],
					['Strength', 'strength'],
					['Summon', 'summon'],
					['Sunlight', 'sunlight'],
					['Survey', 'survey'],
					['Teleport', 'teleport'],
					['Thunderclap', 'thunderclap'],
					['Tongues', 'tongues'],
					['True Seeing', 'true seeing'],
					['Unicorn Totem', 'unicorn totem'],
					['Vampiric Touch', 'vampiric touch'],
					['Ventriloquate', 'ventriloquate'],
					['Water Breathing', 'water breathing'],
					['Weaken', 'weaken'],
					['Weasel Totem', 'weasel totem'],
					['Wizard Mark', 'wizard mark'],
					['Word of Recall', 'word of recall']
                ]
%>

<%= form_for  [@mobile.area, @mobile], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @mobile.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@mobile.errors.count, "error") %> prohibited saving:</h3>

      <ul>
      <% @mobile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if params[:return_to_room] %><input name="return_to_room" type="hidden" value="<%= params[:return_to_room] %>" /><% end %>

  <div class="form-group">
    <%= f.label :vnum, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :vnum, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :keywords, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :keywords, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sdesc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :sdesc, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ldesc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ldesc, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :look_desc, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= ruler %><%= f.text_area :look_desc, :class => 'text_field form-control', rows: 10 %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :act_flags, 'Action flags', :class => 'control-label col-md-2' %>
    <div class="col-md-10">

      <div class="check_box col-md-2">
        <%= f.check_box :sentinel, {:checked => @mobile.sentinel? ? true : false} %>
        <%= f.label :sentinel, 'sentinel'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :scavenger, {:checked => @mobile.scavenger? ? true : false} %>
        <%= f.label :scavenger, 'scavenger'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :plant, {:checked => @mobile.plant? ? true : false} %>
        <%= f.label :plant, 'plant'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :aggressive, {:checked => @mobile.aggressive? ? true : false} %>
        <%= f.label :aggressive, 'aggressive'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :stay_area, {:checked => @mobile.stay_area? ? true : false} %>
        <%= f.label :stay_area, 'stay_area'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :wimpy, {:checked => @mobile.wimpy? ? true : false} %>
        <%= f.label :wimpy, 'wimpy'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :train, {:checked => @mobile.train? ? true : false} %>
        <%= f.label :train, 'train'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :practice, {:checked => @mobile.practice? ? true : false} %>
        <%= f.label :practice, 'practice'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :super_wimpy, {:checked => @mobile.super_wimpy? ? true : false} %>
        <%= f.label :super_wimpy, 'super_wimpy'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :assist_same, {:checked => @mobile.assist_same? ? true : false} %>
        <%= f.label :assist_same, 'assist_same'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :assist, {:checked => @mobile.assist? ? true : false} %>
        <%= f.label :assist, 'assist'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :assist_always, {:checked => @mobile.assist_always? ? true : false} %>
        <%= f.label :assist_always, 'assist_always'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :swim, {:checked => @mobile.swim? ? true : false} %>
        <%= f.label :swim, 'swim'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :water_only, {:checked => @mobile.water_only? ? true : false} %>
        <%= f.label :water_only, 'water_only'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :animal, {:checked => @mobile.animal? ? true : false} %>
        <%= f.label :animal, 'animal'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :no_wear_eq, {:checked => @mobile.no_wear_eq? ? true : false} %>
        <%= f.label :no_wear_eq, 'no_wear_eq'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :no_corpse, {:checked => @mobile.no_corpse? ? true : false} %>
        <%= f.label :no_corpse, 'no_corpse'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :fireproof, {:checked => @mobile.fireproof? ? true : false} %>
        <%= f.label :fireproof, 'fireproof'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :intelligent, {:checked => @mobile.intelligent? ? true : false} %>
        <%= f.label :intelligent, 'intelligent'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :cloaked, {:checked => @mobile.cloaked? ? true : false} %>
        <%= f.label :cloaked, 'cloaked'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :no_random_eq, {:checked => @mobile.no_random_eq? ? true : false} %>
        <%= f.label :no_random_eq, 'no_random_eq'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
    </div>  
  </div>
  
  <div class="form-group">
    <%= f.label :affect_flags, 'Affect flags', :class => 'control-label col-md-2' %>
    <div class="col-md-10">

      <div class="check_box col-md-3">
        <%= f.check_box :blind, {:checked => @mobile.blind? ? true : false} %>
        <%= f.label :blind, 'blind'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :invisible, {:checked => @mobile.invisible? ? true : false} %>
        <%= f.label :invisible, 'invisible'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :detect_evil, {:checked => @mobile.detect_evil? ? true : false} %>
        <%= f.label :detect_evil, 'detect_evil'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :detect_invis, {:checked => @mobile.detect_invis? ? true : false} %>
        <%= f.label :detect_invis, 'detect_invis'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :detect_magic, {:checked => @mobile.detect_magic? ? true : false} %>
        <%= f.label :detect_magic, 'detect_magic'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :detect_hidden, {:checked => @mobile.detect_hidden? ? true : false} %>
        <%= f.label :detect_hidden, 'detect_hidden'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :detect_good, {:checked => @mobile.detect_good? ? true : false} %>
        <%= f.label :detect_good, 'detect_good'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :sanctuary, {:checked => @mobile.sanctuary? ? true : false} %>
        <%= f.label :sanctuary, 'sanctuary'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :faerie_fire, {:checked => @mobile.faerie_fire? ? true : false} %>
        <%= f.label :faerie_fire, 'faerie_fire'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :infrared, {:checked => @mobile.infrared? ? true : false} %>
        <%= f.label :infrared, 'infrared'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :curse, {:checked => @mobile.curse? ? true : false} %>
        <%= f.label :curse, 'curse'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :no_steal, {:checked => @mobile.no_steal? ? true : false} %>
        <%= f.label :no_steal, 'no_steal'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :poison, {:checked => @mobile.poison? ? true : false} %>
        <%= f.label :poison, 'poison'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :protect_from_evil, {:checked => @mobile.protect_from_evil? ? true : false} %>
        <%= f.label :protect_from_evil, 'protect_from_evil'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :protect_from_good, {:checked => @mobile.protect_from_good? ? true : false} %>
        <%= f.label :protect_from_good, 'protect_from_good'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :sneak, {:checked => @mobile.sneak? ? true : false} %>
        <%= f.label :sneak, 'sneak'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :hide, {:checked => @mobile.hide? ? true : false} %>
        <%= f.label :hide, 'hide'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :sleep, {:checked => @mobile.sleep? ? true : false} %>
        <%= f.label :sleep, 'sleep'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :charm, {:checked => @mobile.charm? ? true : false} %>
        <%= f.label :charm, 'charm'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :flying, {:checked => @mobile.flying? ? true : false} %>
        <%= f.label :flying, 'flying'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :passdoor, {:checked => @mobile.passdoor? ? true : false} %>
        <%= f.label :passdoor, 'passdoor'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :no_trace, {:checked => @mobile.no_trace? ? true : false} %>
        <%= f.label :no_trace, 'no_trace'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :no_sleep, {:checked => @mobile.no_sleep? ? true : false} %>
        <%= f.label :no_sleep, 'no_sleep'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :no_summon, {:checked => @mobile.no_summon? ? true : false} %>
        <%= f.label :no_summon, 'no_summon'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :no_charm, {:checked => @mobile.no_charm? ? true : false} %>
        <%= f.label :no_charm, 'no_charm'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-3">
        <%= f.check_box :improved_invis, {:checked => @mobile.improved_invis? ? true : false} %>
        <%= f.label :improved_invis, 'improved_invis'.humanize.upcase, :class => 'control-label non-bold' %>
      </div>
      
    </div>  
  </div>
  
  <div class="form-group">
    <%= f.label 'Alignment', :class => 'control-label col-md-2' %>
    <div class="col-md-2">
      <label class="radio-inline">
        <%= f.radio_button :alignment, 0 %> Unaligned
      </label>
    </div>
    <div class="col-md-2">
      <label class="radio-inline">
        <%= f.radio_button :alignment, -1000 %> Evil
      </label>
    </div>
    <div class="col-md-2">
      <label class="radio-inline">
        <%= f.radio_button :alignment, 1000 %> Good
      </label>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :level, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :level, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label 'Sex', :class => 'control-label col-md-2' %>
    <div class="col-md-2">
      <label class="radio-inline">
        <%= f.radio_button :sex, 0 %> No gender
      </label>
    </div>
    <div class="col-md-2">
      <label class="radio-inline">
        <%= f.radio_button :sex, 1 %> Male
      </label>
    </div>
    <div class="col-md-2">
      <label class="radio-inline">
        <%= f.radio_button :sex, 2 %> Female
      </label>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :langs_known, 'Languages Known', :class => 'control-label col-md-2' %>
    <div class="col-md-10">

      <div class="check_box col-md-2">
        <%= f.check_box :common, {:checked => @mobile.common? ? true : false} %>
        <%= f.label :common, 'common'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :dwarven, {:checked => @mobile.dwarven? ? true : false} %>
        <%= f.label :dwarven, 'dwarven'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :elven, {:checked => @mobile.elven? ? true : false} %>
        <%= f.label :elven, 'elven'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :gnomish, {:checked => @mobile.gnomish? ? true : false} %>
        <%= f.label :gnomish, 'gnomish'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :halfling, {:checked => @mobile.halfling? ? true : false} %>
        <%= f.label :halfling, 'halfling'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :aarakocra, {:checked => @mobile.aarakocra? ? true : false} %>
        <%= f.label :aarakocra, 'aarakocra'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :giant, {:checked => @mobile.giant? ? true : false} %>
        <%= f.label :giant, 'giant'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :minotaur, {:checked => @mobile.minotaur? ? true : false} %>
        <%= f.label :minotaur, 'minotaur'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :ogre, {:checked => @mobile.ogre? ? true : false} %>
        <%= f.label :ogre, 'ogre'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :thoras, {:checked => @mobile.thoras? ? true : false} %>
        <%= f.label :thoras, 'thoras'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :goblin, {:checked => @mobile.goblin? ? true : false} %>
        <%= f.label :goblin, 'goblin'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :drow, {:checked => @mobile.drow? ? true : false} %>
        <%= f.label :drow, 'drow'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :kobold, {:checked => @mobile.kobold? ? true : false} %>
        <%= f.label :kobold, 'kobold'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :orc, {:checked => @mobile.orc? ? true : false} %>
        <%= f.label :orc, 'orc'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :troll, {:checked => @mobile.troll? ? true : false} %>
        <%= f.label :troll, 'troll'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :sahaguin, {:checked => @mobile.sahaguin? ? true : false} %>
        <%= f.label :sahaguin, 'sahaguin'.upcase, :class => 'control-label non-bold' %>
      </div>
      
      <div class="check_box col-md-2">
        <%= f.check_box :god, {:checked => @mobile.god? ? true : false} %>
        <%= f.label :god, 'god'.upcase, :class => 'control-label non-bold' %>
      </div>

    </div>  
  </div>
  
  <div class="form-group">
    <%= f.label :lang_spoken, 'Language Spoken', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:lang_spoken, options_for_select(
          [
            ['NONE', 0],
            ['COMMON', 1],
            ['DWARVEN', 2],
            ['ELVEN', 4],
            ['GNOMISH', 8],
            ['HALFLING', 16],
            ['AARAKOCRA', 32],
            ['GIANT', 64],
            ['MINOTAUR', 128],
            ['OGRE', 256],
            ['THORAS', 512],
            ['GOBLIN', 1024],
            ['DROW', 2048],
            ['KOBOLD', 4096],
            ['ORC', 8192],
            ['TROLL', 16384],
            ['SAHAGUIN', 32768],
            ['GOD', 65535]
          ], @mobile.lang_spoken
        ), {}, {class: "form-control"}) %>
    </div>
  </div>
  
  <% if @mobile.specials.count > 0 %>
    <% if @mobile.specials.first.name == 'spec_one_spell' %>
      <div class="form-group">
        <%= f.label :spell, 'Spell (spec_one)', :class => 'control-label col-md-2' %>
        <div class="col-md-10">
          <%= f.select(:spell, options_for_select(spell_list, @mobile.spell), {}, {class: "form-control"}) %>
        </div>
      </div>
    <% else %><%= f.hidden_field :spell, :value => '' %><% end %>
  <% else %><%= f.hidden_field :spell, :value => '' %><% end %>
  


  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_mobiles_path(@area), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
