<%- model_class = RoomSpecial -%>

<div class="panel panel-default monospace">
  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%= link_to 'Rooms', area_rooms_path(@area) %> / <%= link_to "#{@room.formal_vnum} #{@room.name}", area_room_path(@area, @room) %> / Edit Room Special Function
    </h5>
  </div>

    <div class="panel-body">

        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_room_path(@area, @room) %></div>

</div>
