<%- model_class = RoomSpecial -%>

<div class="panel panel-default monospace">
    <div class="panel-heading"><h3>
        <%= link_to @area.name, area_path(@area) %> /
        <%= link_to 'Rooms', area_rooms_path(@area) %> /
        <%= link_to "Room: #{@room.vnum}", area_room_path(@area, @room) %> /
        New Room Special Function
    </div>
    <div class="panel-body">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_room_path(@area, @room) %></div>

</div>
