<%- model_class = Shop -%>

<div class="panel panel-default monospace">
  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%= link_to 'Mobiles', area_mobiles_path(@area) %> / <%= link_to "#{@mobile.formal_vnum} #{@mobile.sdesc}", area_mobile_path(@area, @mobile) %> / Edit Mobile Shop
    </h5>
  </div>
  
    <div class="panel-body">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_mobile_path(@area, @mobile) %></div>

</div>
