<%= form_for [@oxdesc.obj.area, @oxdesc.obj, @oxdesc], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @oxdesc.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@oxdesc.errors.count, "error") %> prohibited saving:</h3>

      <ul>
      <% @oxdesc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :keywords, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :keywords, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
       <%= f.text_area :description, class: 'form-control', rows: 10 %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_obj_path(@area, @obj), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
