<%= form_for [@sub_reset.reset.area, @sub_reset.reset, @sub_reset], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @sub_reset.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@sub_reset.errors.count, "error") %> prohibited this exit from being saved:</h3>

      <ul>
      <% @sub_reset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @reset.reset_type == 'O' %>
    <div class="form-group">
      <%= f.label :reset_type, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.select(:reset_type, options_for_select(
              [
                ['PUT', 'P']
              ], @sub_reset.reset_type
            ), {}, {class: "form-control"}) %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :reset_type, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.select(:reset_type, options_for_select(
              [
                ['EQUIP', 'E'],
                ['GIVE', 'G']
              ], @sub_reset.reset_type
            ), {}, {class: "form-control"}) %>
      </div>
    </div>
  <% end %>
  
  <%= f.hidden_field :val_1, :value => 0 %>
  
  <div class="form-group">
    <%= f.label :val_2, 'Object', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select(:val_2, @area.objs.order('vnum ASC'), :id, :vnum_and_sdesc, {}, {:id => 'ObjectVnumField', :class => 'form-control'})  %>
    </div>
  </div>

  <%= f.hidden_field :val_3, :value => 100 %>

  <fieldset id="EquipGroup">
    
    <div class="form-group">
      <%= f.label :val_4, 'Wear location', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.select(:val_4, options_for_select(
              [
                ['LIGHT', 0],
                ['LEFT FINGER', 1],
                ['RIGHT FINGER', 2],
                ['1ST NECK', 3],
                ['2ND NECK', 4],
                ['BODY', 5],
                ['HEAD', 6],
                ['LEGS', 7],
                ['FEET', 8],
                ['HANDS', 9],
                ['ARMS', 10],
                ['SHIELD', 11],
                ['ABOUT BODY', 12],
                ['WAIST', 13],
                ['LEFT WRIST', 14],
                ['RIGHT WRIST', 15],
                ['WIELD', 16],
                ['HOLD', 17],
                ['DECORATION', 18]
              ], @sub_reset.val_4
            ), {}, {class: "form-control"}) %>
      </div>
    </div>
    
  </fieldset>
  
  <fieldset id="GiveGroup">
    
    <%= f.hidden_field :val_4, :value => 0 %>
    
  </fieldset>
  
  <fieldset id="PutGroup">
    <div class="form-group">
      <%= f.label :val_4, 'Into container', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :val_4, {:class => 'text_field form-control', :disabled => 'disabled', :value => obj_info(@sub_reset.reset.val_2, 'formal_vnum') + ' ' + obj_info(@sub_reset.reset.val_2, 'sdesc') } %>
      </div>
    </div>
    <%= f.hidden_field :val_4, :value => 0 %>
  </fieldset>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_resets_path(@area), :class => 'btn btn-default' %>
    </div>
  </div>
  
<script type = "text/javascript">
  initSubResetForm();
</script>

<% end %>
