<%- model_class = SubReset -%>
<div class="panel panel-default monospace">
    <div class="panel-heading"><h3>
        <%= link_to @area.name, area_path(@area) %> /
        <%= link_to 'Resets', area_resets_path(@area) %> /
        Reset: <%= @reset.comment %> /
        <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %>
    </div>
    <div class="panel-body">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_resets_path(@area) %></div>

</div>
