<%- model_class = SubReset -%>

<div class="panel panel-default monospace">
  <div class="panel-heading"><h3>
      <%= link_to @area.name, area_path(@area) %> /
      <%= link_to 'Resets', area_resets_path(@area) %> /
      Reset: <%= @reset.comment %> /
      Sub-reset: <%= @sub_reset.comment %>
  </h3></div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-2">
        <strong>Reset type:</strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= @sub_reset.desc_brief %>
        </div>
      </div>
    </div><br/>
    
    <div class="row">
      <div class="col-md-2">
        <strong>
          <%= 'Equip:' if @sub_reset.reset_type == 'E' %>
          <%= 'Give:' if @sub_reset.reset_type == 'G' %>
          <%= 'Put:' if @sub_reset.reset_type == 'P' %>
        </strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
        <%= obj_info(@sub_reset.val_2, 'formal_vnum') + ' ' + obj_info(@sub_reset.val_2, 'sdesc') %>
        </div>
      </div>
    </div><br/>
    
    <div class="row">
      <div class="col-md-2">
        <strong>
          Mudwide limit:
        </strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= @sub_reset.val_3 %>
        </div>
      </div>
    </div><br/>
    
    <div class="row">
      <div class="col-md-2">
        <strong>
          <%= 'Wear location:' if @sub_reset.reset_type == 'E' %>
          <%= 'Into container:' if @sub_reset.reset_type == 'P' %>
        </strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= @sub_reset.wear_loc_word if @sub_reset.reset_type == 'E' %>
          <%= obj_info(@sub_reset.reset.val_2, 'sdesc') if  @sub_reset.reset_type == 'P' %>
        </div>
      </div>
    </div><br/>
      
  <div class="panel-footer">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                area_resets_path(@area), :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_area_reset_sub_reset_path(@area, @reset, @sub_reset), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                area_reset_sub_reset_path(@area, @reset, @sub_reset),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>

</div>