<% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-default' %>
    <%= link_to 'List Areas', areas_path, class: 'btn btn-default' %>
<% else %>
    <div class="jumbotron monospace-pre">The Apprentice's Workshop
    <font color=red>[</font><font color=darkred>Exits: <u>north</u> <u>east</u> <u>south</u> <u>west</u> <u>up</u> <u>down</u></font><font color=red>]</font>
    You stand upon a blank page, waiting to be written.
    
    <font color=lightgray>></font></div>
<% end %>
<!-- Not using for now...
    <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-default' %>
        <%= link_to 'List Areas', areas_path, class: 'btn btn-default' %>
    <% else %>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-default' %>
        <%= link_to 'Join', new_user_registration_path, class: 'btn btn-primary' %>
    <% end %>
-->