<div hidden='hidden' id=ItemValueGroupGeneric>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v0, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v0, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v1, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v2, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v3, :value => 0 %>
    </div>
  </div>
  
</div>



<div hidden='hidden' id=ItemValueGroupMoney>
  
  <div class="form-group">
    <%= f.label :v0, '# of coins', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v1, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v2, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v3, :value => 0 %>
    </div>
  </div>

</div>



<div hidden='hidden' id=ItemValueGroupDrink>
  
  <div class="form-group">
    <%= f.label :v0, '# of drinks', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v1, 'Amount left', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, 'Liquid type', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v3, 'Poison?', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, :class => 'text_field form-control' %>
    </div>
  </div>

</div>



<div hidden='hidden' id=ItemValueGroupJewelry>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v0, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v0, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v1, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, '# of repairs', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v3, :value => 0 %>
    </div>
  </div>

</div>



<div hidden='hidden' id=ItemValueGroupFountain>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v0, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v0, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v1, 'liquid type', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, 'spell level', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v3, 'spell #', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, :class => 'text_field form-control' %>
    </div>
  </div>
  
</div>



<div hidden='hidden' id=ItemValueGroupWeapon>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v0, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v0, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v1, 'Range min.', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, 'Range max.', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v3, 'dmg type', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, :class => 'text_field form-control' %>
    </div>
  </div>
  
</div>



<div hidden='hidden' id=ItemValueGroupLight>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v0, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v0, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v1, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, 'Hours lit', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v3, :value => 0 %>
    </div>
  </div>

</div>



<div hidden='hidden' id=ItemValueGroupArmor>
  
  <div class="form-group">
    <%= f.label :v0, 'AC', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v1, 'Max AC', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, '# of repairs', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v3, :value => 0 %>
    </div>
  </div>
  
</div>



<div hidden='hidden' id=ItemValueGroupContainer>
  
  <div class="form-group">
    <%= f.label :v0, 'Hold weight', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v1, 'Container flags', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, 'Key vnum', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v3, :value => 0 %>
    </div>
  </div>
  
</div>



<div hidden='hidden' id=ItemValueGroupMultiUseMagicItems>
  
  <div class="form-group">
    <%= f.label :v0, 'Spell level', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v1, 'Max. charges', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, 'Remaining charges', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v3, 'spell #', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, :class => 'text_field form-control' %>
    </div>
  </div>
  
</div>



<div hidden='hidden' id=ItemValueGroupSingleUseMagicItems>
  
  <div class="form-group">
    <%= f.label :v0, 'Spell level', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v1, '1st spell #', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v2, '2nd spell #', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v3, '3rd spell #', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, :class => 'text_field form-control' %>
    </div>
  </div>
  
</div>



<div hidden='hidden' id=ItemValueGroupFood>
  
  <div class="form-group">
    <%= f.label :v0, 'Food-hours', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v0, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v1, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v1, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group" hidden="hidden">
    <%= f.label :v2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v2, {:class => 'text_field form-control', :disabled => 'disabled', :value => 0} %>
      <%= f.hidden_field :v2, :value => 0 %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :v3, 'Poison?', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :v3, :class => 'text_field form-control' %>
    </div>
  </div>
  
</div>