<%= form_for  [@obj.area, @obj], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @obj.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@obj.errors.count, "error") %> prohibited saving:</h3>

      <ul>
      <% @obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if params[:return_to_room] %><input name="return_to_room" type="hidden" value="<%= params[:return_to_room] %>" /><% end %>

  <div class="form-group">
    <%= f.label :vnum, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :vnum, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :keywords, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :keywords, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :sdesc, 'Short description', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :sdesc, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :ldesc, 'Long description', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ldesc, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :object_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
    <%= f.select(:object_type, options_for_select(
          [
            ['ARMOR', 9],
            ['ARMOR ANIMAL', 14],
            ['BOAT', 22],
            ['CONTAINER', 15],
            ['DECORATION', 27],
            ['DRINK CONTAINER', 17],
            ['FETISH', 7],
            ['FOOD', 19],
            ['FOUNTAIN', 25],
            ['FURNITURE', 12],
            ['JEWELRY', 30],
            ['KEY', 18],
            ['LIGHT', 1],
            ['MONEY', 20],
            ['PET FOOD', 11],
            ['PILL', 26],
            ['POTION', 10],
            ['RELIC', 33],
            ['RING', 29],
            ['SCROLL', 2],
            ['STAFF', 4],
            ['TRASH', 13],
            ['TREASURE', 8],
            ['WAND', 3],
            ['WEAPON', 5],
            ['WEAPON ANIMAL', 6]
          ], @obj.object_type
        ), {}, {class: "form-control"}) %>
    </div>
  </div>
  
  <%= render 'objs/formobjvalues', :f => f %>

  <div class="form-group">
    <%= f.label :extra_flags, 'Flags', :class => 'control-label col-md-2' %>
    <div class="col-md-10">

        <div class="check_box col-md-2">
          <%= f.check_box :takeable, {:checked => @obj.takeable? ? true : false} %>
          <%= f.label :takeable, 'Takeable'.upcase, :class => 'control-label non-bold' %>
        </div>

        <div class="check_box col-md-2">
          <%= f.check_box :glow, {:checked => @obj.glow? ? true : false} %>
          <%= f.label :glow, 'glow'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :hum, {:checked => @obj.hum? ? true : false} %>
          <%= f.label :hum, 'hum'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :evil, {:checked => @obj.evil? ? true : false} %>
          <%= f.label :evil, 'evil'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :invis, {:checked => @obj.invis? ? true : false} %>
          <%= f.label :invis, 'invis'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">

          <% if @obj.applies.count > 0 %>
            <%= f.check_box :magic, {:checked => true, :disabled => true} %>
            <%= f.hidden_field :magic, :value => '1' %>
          <% else %>
            <%= f.check_box :magic, {:checked => @obj.magic? ? true : false} %>
          <% end %>

          <%= f.label :magic, 'magic'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :nodrop, {:checked => @obj.nodrop? ? true : false} %>
          <%= f.label :nodrop, 'nodrop'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :anti_good, {:checked => @obj.anti_good? ? true : false} %>
          <%= f.label :anti_good, 'anti_good'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :anti_evil, {:checked => @obj.anti_evil? ? true : false} %>
          <%= f.label :anti_evil, 'anti_evil'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :anti_neutral, {:checked => @obj.anti_neutral? ? true : false} %>
          <%= f.label :anti_neutral, 'anti_neutral'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :noremove, {:checked => @obj.noremove? ? true : false} %>
          <%= f.label :noremove, 'noremove'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :inventory, {:checked => @obj.inventory? ? true : false} %>
          <%= f.label :inventory, 'inventory'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :metallic, {:checked => @obj.metallic? ? true : false} %>
          <%= f.label :metallic, 'metallic'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :good, {:checked => @obj.good? ? true : false} %>
          <%= f.label :good, 'good'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :not_purgable, {:checked => @obj.not_purgable? ? true : false} %>
          <%= f.label :not_purgable, 'not_purgable'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :flammable, {:checked => @obj.flammable? ? true : false} %>
          <%= f.label :flammable, 'flammable'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :two_handed, {:checked => @obj.two_handed? ? true : false} %>
          <%= f.label :two_handed, 'two_handed'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :use_cost, {:checked => @obj.use_cost? ? true : false} %>
          <%= f.label :use_cost, 'use_cost'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :anti_unalign, {:checked => @obj.anti_unalign? ? true : false} %>
          <%= f.label :anti_unalign, 'anti_unalign'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :neutral, {:checked => @obj.neutral? ? true : false} %>
          <%= f.label :neutral, 'neutral'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :no_hoard, {:checked => @obj.no_hoard? ? true : false} %>
          <%= f.label :no_hoard, 'no_hoard'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        
        <div class="check_box col-md-2">
          <%= f.check_box :masked, {:checked => @obj.masked? ? true : false} %>
          <%= f.label :masked, 'masked'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>

        <div class="check_box col-md-3">
          <%= f.check_box :underwater_breath, {:checked => @obj.underwater_breath? ? true : false} %>
          <%= f.label :underwater_breath, 'Underwater breath'.upcase, :class => 'control-label non-bold' %>
        </div>

    </div>  
  </div>

  <div class="form-group">
    <%= f.label 'Worn', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
    <%= f.select(:wear_flags, options_for_select(
          [
            ['NOT WORN/WORN AS LIGHT', 0],
            ['WORN AS FINGER', 2],
            ['WORN AS NECK', 4],
            ['WORN AS BODY', 8],
            ['WORN AS HEAD', 16],
            ['WORN AS LEGS', 32],
            ['WORN AS FEET', 64],
            ['WORN AS HANDS', 128],
            ['WORN AS ARMS', 256],
            ['WORN AS SHIELD', 512],
            ['WORN AS ABOUT', 1024],
            ['WORN AS WAIST', 2048],
            ['WORN AS WRIST', 4096],
            ['WORN AS WIELD', 8192],
            ['WORN AS HOLD', 16384],
            ['WORN AS DECORATION', 32768]
          ], (@obj.takeable? ? (@obj.wear_flags - 1) : @obj.wear_flags)               
        ), {}, {class: "form-control"}) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :weight, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :weight, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :cost, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :cost, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_objs_path(@area), :class => 'btn btn-default' %>
    </div>
  </div>

<script type = "text/javascript">
  initObjForm();
</script>

<% end %>
