<%- model_class = Obj -%>

<div class="panel panel-default">
  <div class="panel-heading monospace"><h3>
      <%= link_to @area.name, area_path(@area) %> /
      <%= link_to 'Objects', area_objs_path(@area) %> /
      Object: <%= @obj.vnum %>
  </h3></div>
  <div class="panel-body monospace">

      <div class="row">
        <div class="col-md-2">
          <strong>Formal Vnum:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @obj.formal_vnum %>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong>Keywords:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @obj.keywords %>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong>Short description:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @obj.sdesc %>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong>Long description:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @obj.ldesc %>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong>Object type:</strong>
        </div>
        <div class="col-md-10">
          <% if @obj.object_type == 9  %><div class='col-md-2'>ARMOR</div><% end %>
          <% if @obj.object_type == 14 %><div class='col-md-2'>ARMOR ANIMAL</div><% end %>
          <% if @obj.object_type == 22 %><div class='col-md-2'>BOAT</div><% end %>
          <% if @obj.object_type == 15 %><div class='col-md-2'>CONTAINER</div><% end %>
          <% if @obj.object_type == 27 %><div class='col-md-2'>DECORATION</div><% end %>
          <% if @obj.object_type == 17 %><div class='col-md-2'>DRINK CONTAINER</div><% end %>
          <% if @obj.object_type == 7  %><div class='col-md-2'>FETISH</div><% end %>
          <% if @obj.object_type == 19 %><div class='col-md-2'>FOOD</div><% end %>
          <% if @obj.object_type == 25 %><div class='col-md-2'>FOUNTAIN</div><% end %>
          <% if @obj.object_type == 12 %><div class='col-md-2'>FURNITURE</div><% end %>
          <% if @obj.object_type == 30 %><div class='col-md-2'>JEWELRY</div><% end %>
          <% if @obj.object_type == 18 %><div class='col-md-2'>KEY</div><% end %>
          <% if @obj.object_type == 1  %><div class='col-md-2'>LIGHT</div><% end %>
          <% if @obj.object_type == 20 %><div class='col-md-2'>MONEY</div><% end %>
          <% if @obj.object_type == 11 %><div class='col-md-2'>PET FOOD</div><% end %>
          <% if @obj.object_type == 26 %><div class='col-md-2'>PILL</div><% end %>
          <% if @obj.object_type == 10 %><div class='col-md-2'>POTION</div><% end %>
          <% if @obj.object_type == 33 %><div class='col-md-2'>RELIC</div><% end %>
          <% if @obj.object_type == 29 %><div class='col-md-2'>RING</div><% end %>
          <% if @obj.object_type == 2  %><div class='col-md-2'>SCROLL</div><% end %>
          <% if @obj.object_type == 4  %><div class='col-md-2'>STAFF</div><% end %>
          <% if @obj.object_type == 13 %><div class='col-md-2'>TRASH</div><% end %>
          <% if @obj.object_type == 8  %><div class='col-md-2'>TREASURE</div><% end %>
          <% if @obj.object_type == 3  %><div class='col-md-2'>WAND</div><% end %>
          <% if @obj.object_type == 5  %><div class='col-md-2'>WEAPON</div><% end %>
          <% if @obj.object_type == 6  %><div class='col-md-2'>WEAPON ANIMAL</div><% end %>
        </div>
      </div><br/>
      <!-- Not used
      <div class="row">
        <div class="col-md-2">
          <strong>Values:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-2">
            [V0]: <%= @obj.v0 %>
          </div>
          <div class="col-md-2">
            [V1]: <%= @obj.v1 %>
          </div>
          <div class="col-md-2">
            [V2]: <%= @obj.v2 %>
          </div>
          <div class="col-md-2">
            [V3]: <%= @obj.v3 %>
          </div>
        </div>
      </div><br/>
      -->
      
      <%= render 'objs/objvalues', :obj => @obj %>

      <div class="row">
        <div class="col-md-2">
          <strong>Extra flags:</strong>
        </div>
        <div class="col-md-10">
          <% if @obj.extra_flags == 0 %><div class="col-md-2">NONE</div><% end %>
          <% if @obj.glow? %><div class='col-md-2'>GLOW</div><% end %>
          <% if @obj.hum? %><div class='col-md-2'>HUM</div><% end %>
          <% if @obj.evil? %><div class='col-md-2'>EVIL</div><% end %>
          <% if @obj.invis? %><div class='col-md-2'>INVIS</div><% end %>
          <% if @obj.magic? %><div class='col-md-2'>MAGIC</div><% end %>
          <% if @obj.nodrop? %><div class='col-md-2'>NODROP</div><% end %>
          <% if @obj.anti_good? %><div class='col-md-2'>ANTI-GOOD</div><% end %>
          <% if @obj.anti_evil? %><div class='col-md-2'>ANTI-EVIL</div><% end %>
          <% if @obj.anti_neutral? %><div class='col-md-2'>ANTI-NEUTRAL</div><% end %>
          <% if @obj.noremove? %><div class='col-md-2'>NOREMOVE</div><% end %>
          <% if @obj.inventory? %><div class='col-md-2'>INVENTORY</div><% end %>
          <% if @obj.metallic? %><div class='col-md-2'>METALLIC</div><% end %>
          <% if @obj.good? %><div class='col-md-2'>GOOD</div><% end %>
          <% if @obj.not_purgable? %><div class='col-md-2'>NOT_PURGABLE</div><% end %>
          <% if @obj.flammable? %><div class='col-md-2'>FLAMMABLE</div><% end %>
          <% if @obj.two_handed? %><div class='col-md-2'>TWO HANDED</div><% end %>
          <% if @obj.use_cost? %><div class='col-md-2'>USE COST</div><% end %>
          <% if @obj.anti_unalign? %><div class='col-md-2'>ANTI-UNALIGN</div><% end %>
          <% if @obj.neutral? %><div class='col-md-2'>NEUTRAL</div><% end %>
          <% if @obj.no_hoard? %><div class='col-md-2'>NO HOARD</div><% end %>
          <% if @obj.masked? %><div class='col-md-2'>MASKED</div><% end %>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong>Takeable:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <% if @obj.takeable?%>YES<% else %>NO<% end %>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong>Worn:</strong>
        </div>
        <div class="col-md-10">
          <% if @obj.wear_flags < 2 %><div class='col-md-3'>NOT WORN/WORN AS LIGHT</div><% end %>
          <% if @obj.finger? %><div class='col-md-2'>WORN AS FINGER</div><% end %>
          <% if @obj.neck? %><div class='col-md-2'>WORN AS NECK</div><% end %>
          <% if @obj.body? %><div class='col-md-2'>WORN AS BODY</div><% end %>
          <% if @obj.head? %><div class='col-md-2'>WORN AS HEAD</div><% end %>
          <% if @obj.legs? %><div class='col-md-2'>WORN AS LEGS</div><% end %>
          <% if @obj.feet? %><div class='col-md-2'>WORN AS FEET</div><% end %>
          <% if @obj.hands? %><div class='col-md-2'>WORN AS HANDS</div><% end %>
          <% if @obj.arms? %><div class='col-md-2'>WORN AS ARMS</div><% end %>
          <% if @obj.shield? %><div class='col-md-2'>WORN AS SHIELD</div><% end %>
          <% if @obj.about? %><div class='col-md-2'>WORN AS ABOUT</div><% end %>
          <% if @obj.waist? %><div class='col-md-2'>WORN AS WAIST</div><% end %>
          <% if @obj.wrist? %><div class='col-md-2'>WORN AS WRIST</div><% end %>
          <% if @obj.wield? %><div class='col-md-2'>WORN AS WIELD</div><% end %>
          <% if @obj.hold? %><div class='col-md-2'>WORN AS HOLD</div><% end %>
          <% if @obj.decoration? %><div class='col-md-2'>WORN AS DECORATION</div><% end %>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong>Weight:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @obj.weight %>
          </div>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong>Cost:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @obj.cost %>
          </div>
        </div>
      </div><br/>
 
      <div class="row">
        <div class="col-md-2">
          <strong>Misc flags:</strong>
        </div>
        <div class="col-md-10">
          <% if @obj.misc_flags == 0 %><div class="col-md-2">NONE</div><% end %>
          <% if @obj.flammable2? %><div class="col-md-2">FLAMMABLE</div><% end %>
          <% if @obj.metallic2? %><div class="col-md-2">METALLIC</div><% end %>
          <% if @obj.two_handed2? %><div class="col-md-2">TWO-HANDED</div><% end %>
          <% if @obj.underwater_breath? %><div class="col-md-2">UNDERWATER BREATH</div><% end %>
        </div>
      </div><br/>
      
      <%= render 'objs/appliestable', :obj => @obj %>

      <%= render 'objs/oxdescstable', :obj => @obj %>

      <br/>
      
    <strong>Formatted Object:</strong>
    <p>
        <pre><%= render 'objs/objblock', :obj => @obj %></pre>
    </p>


    </div>
      
    <div class="panel-footer">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  area_objs_path(@area), :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_area_obj_path(@area, @obj), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  area_obj_path(@area, @obj),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
  
</div>