<%- model_class = Reset -%>
<div class="panel panel-default monospace">
  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
      <%= link_to new_area_reset_path(@area), :class => 'btn btn-xs', :title => "#{ t('.new', :default => t('helpers.links.new')) }" do %>
        <%= glyph 'plus' %>
      <%- end -%>
        <div class="pull-right btn-xs">
          <font color=lightgray>
            [ Counts: <%=  "M:#{@area.resets.where(:reset_type => 'M').count} |
                            Q:#{@area.resets.where(:reset_type => 'Q').count} |
                            O:#{@area.resets.where(:reset_type => 'O').count} |
                            I:#{@area.resets.where(:reset_type => 'I').count} |
                            P:#{@area.resets.where(:reset_type => 'P').count} |
                            R:#{@area.resets.where(:reset_type => 'R').count} |
                            E:#{@area.sub_resets.where(:reset_type => 'E').count} |
                            F:#{@area.sub_resets.where(:reset_type => 'F').count} |
                            G:#{@area.sub_resets.where(:reset_type => 'G').count} |
                            C:#{@area.sub_resets.where(:reset_type => 'C').count} |
                            D:#{@area.door_reset_count}" %>
            ]
          </font>
        </div>
    </h5>
  </div>

  <%= render 'resets/resetstable', :given_resets => @resets.order(:reset_type, :val_2).where(reset_type: ['M','Q','O']), :show_type => true %>

  <div class="panel-footer">
    <%= link_to 'New reset', new_area_reset_path(@area) %> |
    <%= link_to 'Back', area_path(@area) %>
    <% if @area.sub_resets.where(:reset_type => 'P').count > 0 %>
     | <%= link_to 'Convert Legacy Put Resets', new_area_reset_path(@area, :convert_legacy => true) %>
    <% end %>
  </div>

</div>


<% if @area.orphaned_resets.count > 0 %>
  <div class="panel panel-default monospace">
    <div class="panel-heading">
      <h5>
        Orphaned Resets
      </h5>
    </div>
    <%= render 'resets/resetstable', :given_resets => @area.orphaned_resets, :show_type => true %>
    <div class="panel-footer">
      <%= link_to 'Purge Orphans', area_resets_path(@area, :purge => true), :class => 'btn btn-danger', data: { confirm: "Are you sure?" }  %>
    </div>
  </div>
<% end %>

<% if @area.show_formatted_blocks? %>
  <br/>
  <strong class="monospace">Formatted #RESETS Block:</strong>
  <pre><%= render 'resets/resetsblock' %></pre>
  <br/>
<% end %>