<p id="notice"><%= notice %></p>

<p>
  <strong>Reset type:</strong>
  <%= @reset.reset_type %>
</p>

<p>
  <strong>Val 1:</strong>
  <%= @reset.val_1 %>
</p>

<p>
  <strong>Val 2:</strong>
  <%= @reset.val_2 %>
</p>

<p>
  <strong>Val 3:</strong>
  <%= @reset.val_3 %>
</p>

<p>
  <strong>Val 4:</strong>
  <%= @reset.val_4 %>
</p>

<p>
  <strong>Area:</strong>
  <%= @reset.area %>
</p>

<%= link_to 'Edit', edit_reset_path(@reset) %> |
<%= link_to 'Back', resets_path %>
