<%- model_class = Reset -%>
<div class="panel panel-default monospace">
  <div class="panel-heading"><h3>
      <%= link_to @area.name, area_path(@area) %> /
      <%= link_to 'Resets', area_resets_path(@area) %> /
      Reset: <%= @reset.comment %>
  </h3></div>
  <div class="panel-body">
    
    <div class="row">
      <div class="col-md-2">
        <strong>Reset type:</strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= @reset.desc_brief %>
        </div>
      </div>
    </div><br/>
    
    <div class="row">
      <div class="col-md-2">
        <strong>
          <%= 'Mobile:' if ( @reset.reset_type == 'M' || @reset.reset_type == 'Q' ) %>
          <%= 'Object:' if ( @reset.reset_type == 'O' || @reset.reset_type == 'I' || @reset.reset_type == 'P' ) %>
          <%= 'Room:' if ( @reset.reset_type == 'D' || @reset.reset_type == 'R' ) %>
        </strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
        <%= mobile_info(@reset.val_2, 'formal_vnum') + ' ' + mobile_info(@reset.val_2, 'sdesc') if ( @reset.reset_type == 'M' || @reset.reset_type == 'Q' ) %>
        <%= obj_info(@reset.val_2, 'formal_vnum', @reset.area) + ' ' + obj_info(@reset.val_2, 'sdesc', @reset.area) if ( @reset.reset_type == 'O' || @reset.reset_type == 'I' || @reset.reset_type == 'P' ) %>
        <%= room_info(@reset.val_2, 'formal_vnum') + ' ' + room_info(@reset.val_2, 'name') if ( @reset.reset_type == 'D' || @reset.reset_type == 'R' ) %>
        </div>
      </div>
    </div><br/>
    
    <div class="row">
      <div class="col-md-2">
        <strong>
          <%= 'Mudwide limit:' if ( @reset.reset_type == 'M' || @reset.reset_type == 'Q' || @reset.reset_type == 'O' || @reset.reset_type == 'I' || @reset.reset_type == 'P' ) %>
          <%= 'Door direction:' if @reset.reset_type == 'D' %>
          <%= 'Exits to randomize:' if @reset.reset_type == 'R' %>
        </strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= @reset.val_3 if ( @reset.reset_type == 'M' || @reset.reset_type == 'Q' || @reset.reset_type == 'O' || @reset.reset_type == 'I' || @reset.reset_type == 'P' ) %>
          <%= @reset.reset_door_direction if @reset.reset_type == 'D' %>
          <%= num_to_exits(@reset.val_3) if @reset.reset_type == 'R' %>
        </div>
      </div>
    </div><br/>
    
    <div class="row">
      <div class="col-md-2">
        <strong>
          <%= 'Load to room:' if ( @reset.reset_type == 'M' || @reset.reset_type == 'Q' || @reset.reset_type == 'O' ) %>
          <%= 'Into container:' if ( @reset.reset_type == 'I' || @reset.reset_type == 'P' ) %>
          <%= 'Door state:' if @reset.reset_type == 'D' %>
        </strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= room_info(@reset.val_4, 'formal_vnum') + ' ' + room_info(@reset.val_4, 'name') if ( @reset.reset_type == 'M' || @reset.reset_type == 'Q' || @reset.reset_type == 'O') %>
          <%= obj_info(@reset.parent.val_2, 'formal_vnum', @reset.area) + ' ' + obj_info(@reset.parent.val_2, 'sdesc', @reset.area) if ( @reset.reset_type == 'I' || @reset.reset_type == 'P' ) %>
          <%= door_state(@reset.val_4) if  @reset.reset_type == 'D' %>
        </div>
      </div>
    </div><br/>
    
    <%= render 'resets/sub_resetstable', :reset => @reset %>

    
    <% if @area.show_formatted_blocks? %>
      <strong class="monospace">Formatted Reset:</strong>
      <p>
          <pre><%= render 'resets/resetblock', :reset => @reset %></pre>
      </p>
    <% end %>
    
    </div>
      
    <div class="panel-footer">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  area_resets_path(@area), :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_area_reset_path(@area, @reset), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  area_reset_path(@area, @reset),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
  
</div>

