<span id=<%= "\"study_#{reset.id}\"".html_safe %> hidden='hidden'><font color=yellow>
  You study <%= obj.sdesc %> more closely.</font>
<font color=silver><%= obj.ldesc %><% obj.oxdescs.each do |oxdesc| %>

<%= word_wrap("« #{oxdesc.keywords} »", line_width: WORDWRAP_LENGTH) %>
<%= word_wrap(oxdesc.description, line_width: WORDWRAP_LENGTH) %><% end %></font></span>