<%- model_class = Special -%>

<div class="panel panel-default">
    <div class="panel-heading monospace"><h3>
        <%= link_to @area.name, area_path(@area) %> /
        <%= link_to 'Mobiles', area_mobiles_path(@area) %> /
        <%= link_to "Mobile: #{@mobile.vnum}", area_mobile_path(@area, @mobile) %> /
        New Mobile Special Function
    </div>
    <div class="panel-body monospace">    
    
        <%= render :partial => 'form' %>

    </div>

    <div class="panel-footer"><%= link_to 'Back', area_mobile_path(@area, @mobile) %></div>

</div>
