<%- model_class = Help -%>
<div class="panel panel-default monospace">

  <div class="panel-heading">
    <%= render 'areas/quick_links', :model_class => model_class %>
    <h5>
      <%= link_to 'Helps', area_helps_path(@area) %> / <%= @help.keywords %>
    </h5>
  </div>
  
  <div class="panel-body">

      <%= render 'form' %>
  
  </div>
  
  <div class="panel-footer">
      <%= link_to 'Show', area_help_path(@area, @help) %> |
      <%= link_to 'Back', area_helps_path(@area) %>
  </div>
    
</div>
