<%- model_class = Help -%>
<div class="panel panel-default monospace">
  <div class="panel-heading"><h3>
      <%= link_to @area.name, area_path(@area) %> /
      <%= link_to 'Helps', area_helps_path(@area) %> /
      <%= @help.keywords %>
  </h3></div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-2">
        <strong>Minimum level:</strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= @help.min_level %>
        </div>
      </div>
    </div><br/>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Keywords:</strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= @help.keywords %>
        </div>
      </div>
    </div><br/>
    
    <div class="row">
      <div class="col-md-2">
        <strong>Body:</strong>
      </div>
      <div class="col-md-10">
        <div class="col-md-10">
          <%= simple_format(word_wrap(@help.body, line_width: ApplicationController::WORDWRAP_LENGTH)) %>
        </div>
      </div>
    </div><br/>
    
      
  </div>
  
  <div class="panel-footer">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                area_helps_path(@area), :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_area_help_path(@area, @help), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                area_help_path(@area, @help),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
  
</div>

<% if @area.show_formatted_blocks? %>
<br>
<strong class="monospace">Formatted Help:</strong>
<pre><%= render 'helps/helpblock', :help => @help %></pre>
<% end %>