<div class="panel panel-default">
    <div class="panel-heading monospace"><h3><%= @help.keywords %></h3></div>
    <div class="panel-body monospace">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Minimum Level:</strong>
        <%= @help.min_level %>
      </p>
      
      <p>
        <strong>Keywords:</strong>
        <%= @help.keywords %>
      </p>
      
      <p>
        <strong>Body:</strong>
        <%= simple_format(@help.body) %>
      </p>
      
    <strong>Formatted help:</strong>
    <p>
        <%= render 'helps/helpblock' %>
    </p>

    </div>
    
    <div class="panel-footer">
      <%= link_to 'Edit', edit_area_help_path(@area, @help) %> |
      <%= link_to 'Back', area_helps_path %>
    </div>
    
</div>