<div class="panel panel-default">
    <div class="panel-heading monospace"><h3>
        <%= link_to @area.name, area_path(@area) %> / <%= link_to 'Helps', area_helps_path(@area) %> / <strong><%= @help.keywords %></strong>
    </h3></div>
    <div class="panel-body monospace">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Minimum Level:</strong>
        <%= @help.min_level %>
      </p>
      
      <p>
        <strong>Keywords:</strong>
        <%= @help.keywords %>
      </p>
      
      <p>
        <strong>Body:</strong>
        <%= simple_format(word_wrap(@help.body, line_width: 75)) %>
      </p>
      
    <strong>Formatted help:</strong>
    <p>
        <%= render 'helps/helpblock' %>
    </p>

    </div>
    
    <div class="panel-footer">
      <%= link_to 'Edit', edit_area_help_path(@area, @help) %> |
      <%= link_to 'Back', area_helps_path %>
    </div>
    
</div>