      
    <h3>Helps</h3>
    <% @area.helps.each do |help| %>
      <p>
        <strong>Min_Level:</strong>
        <%= help.min_level %>
      </p>
     
      <p>
        <strong>Keywords:</strong>
        <%= help.keywords %>
      </p>

      <p>
        <strong>Body:</strong>
        <%= help.body %>
      </p>
      
    <% end %>
      


      <h3>Add a help:</h3>
      <%= form_for([@area, @area.helps.build]) do |f| %>
        <p>
          <%= f.label :min_level %><br>
          <%= f.number_field :min_level %>
        </p>        
        <p>
          <%= f.label :keywords %><br>
          <%= f.text_field :keywords %>
        </p>
        <p>
          <%= f.label :body %><br>
          <%= f.text_area :body %>
        </p>
        <p>
          <%= f.submit %>
        </p>
      <% end %>