<%= form_for [@area], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@area.errors.count, "error") %> prohibited saving:</h3>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :author, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :author, :class => 'text_field form-control' %>
    </div>
  </div>
 
  <div class="form-group">
    <%= f.label :area_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :area_number, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :vnum_qty, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:vnum_qty, options_for_select(
            [
              ['100 (0-99)', 100],
              ['200 (0-199)', 200]
            ], @area.vnum_qty
          ), {}, {class: "form-control"}) %>
    </div>
  </div>
 
  <div class="form-group">
    <%= f.label :difficulty, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :difficulty, :class => 'text_field form-control', :title => 'Testing' %>
    </div>
  </div>
 
  <div class="form-group">
    <%= f.label :flags, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
        <div class="check_box col-md-2">
          <%= f.check_box :manmade, {:checked => @area.manmade? ? true : false} %> MANMADE
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :city, {:checked => @area.city? ? true : false} %> CITY
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :forest, {:checked => @area.forest? ? true : false} %> FOREST
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :limited, {:checked => @area.limited? ? true : false} %> LIMITED
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :aerial, {:checked => @area.aerial? ? true : false} %> AERIAL
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :reserved, {:checked => @area.reserved? ? true : false} %> RESERVED
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :arena, {:checked => @area.arena? ? true : false} %> ARENA
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :quest, {:checked => @area.quest? ? true : false} %> QUEST
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :novnum, {:checked => @area.novnum? ? true : false} %> NOVNUM
        </div>
    </div>  
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  areas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
