<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h3>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group monospace">
    <%= f.label :name %> <i>(maximum 20 characters)</i><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group monospace">
    <%= f.label :author %> <i>(maximum 8 characters)</i><br>
    <%= f.text_field :author, class: 'form-control' %>
  </div>
  <div class="form-group monospace">
    <%= f.label :difficulty %> <i>(must be 5 characters)</i><br>
    <%= f.text_field :difficulty, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
