<h3>
  <%= link_to @area.name, area_path(@area) %>
  <% if model_class.model_name == 'Area' %>
    <%= link_to edit_area_path(@area), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
      <%= glyph 'pencil' %>
    <%- end -%>
  <% end %>

  <div class="btn-group pull-right" role="group" aria-label="...">
    <%= link_to "Rooms", area_rooms_path(@area), :class => 'btn btn-default btn-xs' %>
    <%= link_to "Mobiles", area_mobiles_path(@area), :class => 'btn btn-default btn-xs' %>
    <%= link_to "Objects", area_objs_path(@area), :class => 'btn btn-default btn-xs' %>
    <%= link_to "Resets", area_resets_path(@area), :class => 'btn btn-default btn-xs' %>
  </div>
</h3>
