<div class="panel panel-primary">
  <div class="panel-heading"><h4><%= @area.name %> Area Review</h4></div>
  <div class="panel-body">

    
    <ul class="list-group">

      <!-- REVIEW ROOMS FOR ISSUES -->  
      <% @area.rooms.order(:vnum).each do |room| %>
      
        <% if room.any_loopback_exits? %><li class="list-group-item list-group-item-info">Loopback exits detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
        
        <% if room.any_oneway_exits? %><li class="list-group-item list-group-item-info">Oneway exits detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
      
        <% if room.any_illogical_exits? %><li class="list-group-item list-group-item-warning">Illogical exits detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>

        <% if room.any_bad_exits? %><li class="list-group-item list-group-item-danger">Bad exits detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
        
        <% if room.any_door_mismatches? %><li class="list-group-item list-group-item-warning">Mismatched doors detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
        
      <% end %>
      
      <!-- REVIEW MOBILES FOR ISSUES -->  
      
      <% @area.resets.where(:reset_type => 'Q').each do |reset| %>
        <li class="list-group-item list-group-item-warning">A QUEST MOBILE reset was used to: <%= link_to reset.comment, area_reset_path(@area, reset) %>.</li>
      <% end %>
      
      <% @area.mobiles.order(:vnum).each do |mobile| %>
      
        <% if !mobile.has_assoc_reset? %><li class="list-group-item list-group-item-warning">No reset has been created for <%= link_to "#{mobile.formal_vnum} #{mobile.sdesc}", area_mobile_path(@area, mobile) %>.</li><% end %>
        
        <% if !mobile.stay_area? %><li class="list-group-item list-group-item-warning">The 'STAY AREA' flag is not set for <%= link_to "#{mobile.formal_vnum} #{mobile.sdesc}", area_mobile_path(@area, mobile) %>.</li><% end %>
        
      <% end %>
      
      <!-- REVIEW OBJECTS FOR ISSUES -->
      <% @area.objs.order(:vnum).each do |obj| %>
      
        <% if !obj.has_assoc_reset? %><li class="list-group-item list-group-item-warning">No reset has been created for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %>.</li><% end %>
        
        <% if obj.ldesc.length < 1 %><li class="list-group-item list-group-item-warning">No long description given for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %>.</li><% end %>        
        
        <% if obj.has_applies_without_magic_flag? %><li class="list-group-item list-group-item-danger">No 'MAGIC' flag set for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> (which has applies).</li><% end %>

      <% end %>

      <!-- REVIEW CONTAINER RESETS FOR ISSUES -->
      <% @area.resets.where(reset_type: ['I', 'O']).each do |reset| %>
      
        <% if reset.container_weight_held > reset.container_capacity %><li class="list-group-item list-group-item-danger">Overloaded container reset: <%= link_to "#{reset.comment}", area_reset_path(@area, reset) %>.</li><% end %>

      <% end %>
      
      <!-- REVIEW RSPECS FOR ISSUES -->  

    
    </ul>

  </div>
  
  <div class="panel-footer">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                area_path(@area), :class => 'btn btn-default'  %>
  </div>
    
</div>
