<div class="panel panel-primary">
  <div class="panel-heading"><h4><%= @area.name %> Area Review</h4></div>
  <div class="panel-body">

    <% warnings = 0 %>

    <ul class="list-group">

      <!-- REVIEW ROOMS FOR ISSUES -->
      <% @area.rooms.order(:vnum).each do |room| %>
        <% if room.any_loopback_exits? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-info">Loopback exits detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
        <% if room.any_oneway_exits? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-info">Oneway exits detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
        <% if room.any_illogical_exits? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">Illogical exits detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
        <% if room.any_bad_exits? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-danger">Bad exits detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
        <% if room.any_door_mismatches? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">Mismatched doors detected in room <%= link_to "#{room.formal_vnum} #{room.name}", area_room_path(@area, room) %>.</li><% end %>
      <% end %>

      <!-- REVIEW MOBILES FOR ISSUES -->
      <% @area.resets.where(:reset_type => 'Q').each do |reset| %>
        <% warnings = warnings + 1 %>
        <li class="list-group-item list-group-item-warning">A QUEST MOBILE reset was used to: <%= link_to reset.comment, area_reset_path(@area, reset) %>.</li>
      <% end %>
      <% @area.mobiles.order(:vnum).each do |mobile| %>
        <% if !mobile.has_assoc_reset? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">No reset has been created for <%= link_to "#{mobile.formal_vnum} #{mobile.sdesc}", area_mobile_path(@area, mobile) %>.</li><% end %>
        <% if !mobile.stay_area? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">The 'STAY AREA' flag is not set for <%= link_to "#{mobile.formal_vnum} #{mobile.sdesc}", area_mobile_path(@area, mobile) %>.</li><% end %>
        <% if !mobile.animal?  && mobile.lang_spoken == 0 %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning"><%= link_to "#{mobile.formal_vnum} #{mobile.sdesc.humanize}", area_mobile_path(@area, mobile) %> is not an animal, yet speaks no language..</li><% end %>
        <% if mobile_room_view(mobile.id, false).length > WORDWRAP_LENGTH %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">With (prefixes) mobile long description length is <%= mobile_room_view(mobile.id, false).length %> characters: <%= link_to "#{mobile.formal_vnum} #{mobile.sdesc}", area_mobile_path(@area, mobile) %>.</li><% end %>
      <% end %>

      <!-- REVIEW OBJECTS FOR ISSUES -->
      <% @area.objs.order(:vnum).each do |obj| %>
        <% if !obj.has_assoc_reset? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">No reset has been created for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %>.</li><% end %>
        <% if obj.ldesc.length < 1 %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">No long description given for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %>.</li><% end %>
        <% if obj.has_applies_without_magic_flag? %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-danger">No 'MAGIC' flag set for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> (which has applies).</li><% end %>
        <% if obj_room_view(obj.id, false).length > WORDWRAP_LENGTH %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">With (prefixes) object long description length is <%= obj_room_view(obj.id, false).length %> characters: <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %>.</li><% end %>
        <% if ((obj.object_type == 2 ||
                obj.object_type == 3 ||
                obj.object_type == 4 ||
                obj.object_type == 7 ||
                obj.object_type == 10 ||
                obj.object_type == 26 ||
                obj.object_type == 29 ||
                obj.object_type == 33 ) &&
                obj.v0 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">No spell level was set for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %>.</li>
        <% end %>
        <% if ((obj.object_type == 2 ||
                obj.object_type == 10 ||
                obj.object_type == 26 ) &&
                obj.v1 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">No first spell set for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %>.</li>
        <% end %>
        <% if ((obj.object_type == 3 ||
                obj.object_type == 4 ||
                obj.object_type == 7 ||
                obj.object_type == 29 ||
                obj.object_type == 33 ) &&
                obj.v3 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">No spell set for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %>.</li>
        <% end %>
        <% if ((obj.object_type == 3 ||
                obj.object_type == 4 ||
                obj.object_type == 7 ||
                obj.object_type == 29 ||
                obj.object_type == 33 ) &&
                obj.v1 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">Max charges for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should be greater than zero.</li>
        <% end %>
        <% if ((obj.object_type == 5 ||
                obj.object_type == 6 ) &&
                obj.v1 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">Minimum damage for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should be greater than zero.</li>
        <% end %>
        <% if ((obj.object_type == 5 ||
                obj.object_type == 6 ) &&
                obj.v2 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">Maximum damage for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should be greater than zero.</li>
        <% end %>
        <% if ((obj.object_type == 11 ||
                obj.object_type == 19 ) &&
                obj.v0 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">Hours of nourishment for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should be greater than zero.</li>
        <% end %>
        <% if ((obj.object_type == 20 ) &&
                obj.v0 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning"><%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should be worth more than zero gold.</li>
        <% end %>
        <% if ((obj.object_type == 9 ||
                obj.object_type == 14 ) &&
                obj.v0 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">AC for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should be greater than zero.</li>
        <% end %>
        <% if ((obj.object_type == 9 ||
                obj.object_type == 14 ) &&
                obj.v1 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">Max AC for <%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should be greater than zero.</li>
        <% end %>
        <% if ((obj.object_type == 15 ) &&
                obj.v0 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning"><%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should be have a hold weight of greater than zero.</li>
        <% end %>
        <% if ((obj.object_type == 17 ) &&
                obj.v0 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning"><%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should have a number of drinks greater than zero.</li>
        <% end %>
        <% if ((obj.object_type == 17 ) &&
                obj.v1 < 1) %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning"><%= link_to "#{obj.formal_vnum} #{obj.sdesc}", area_obj_path(@area, obj) %> should have more than zero drinks left.</li>
        <% end %>
      <% end %>

      <!-- REVIEW RESETS FOR ISSUES -->
      <% @area.resets.where(reset_type: ['I', 'O']).each do |reset| %>
        <% if reset.container_weight_held > reset.container_capacity %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-danger">Overloaded container reset: <%= link_to "#{reset.comment}", area_reset_path(@area, reset) %>.</li><% end %>
      <% end %>
      <% @area.sub_resets.where(reset_type: ['E', 'G']).each do |reset| %>
        <% if reset.container_weight_held > reset.container_capacity %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-danger">Overloaded container reset: <%= link_to "#{reset.comment}", area_reset_path(@area, reset) %>.</li><% end %>
      <% end %>
      <% if @area.sub_resets.where(reset_type: ['C', 'F']).count > 0 %><% warnings = warnings + 1 %><li class="list-group-item list-group-item-warning">Area contains one or more "random item" resets.</li><% end %>

      <!-- REVIEW RSPECS FOR ISSUES -->

      <% if warnings == 0 %>
        <li class="list-group-item list-group-item-success">No noticies, warnings, or errors were found.</li>
      <% end %>

    </ul>

  </div>

  <div class="panel-footer">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                area_path(@area), :class => 'btn btn-default'  %>
  </div>

</div>
