<div class="panel panel-default">
    <div class="panel-heading"><h3>My Areas</h3><i>Showing all areas during development.  Later you will only see/modify your own.</i></div>
    <div class="panel-body">

      <table class="table table-hover monospace">
        <thead>
          <tr>
            <th>Area #</th>
            <th>Vnum Qty</th>
            <th><div class="monospace-pre">Levels  Author   Name</div></th>
            <th>User</th>
          </tr>
        </thead>
      
        <tbody>
          <% @areas.each do |area| %>
            <tr>
              <td><%= area.area_number %></td>
              <td><%= area.vnum_qty %></td>
              <td>
                <div class="monospace-pre"><%= link_to(area) do %>{<%= area.difficulty %>} <%= format("%-8s", area.author) %> <%= format("%-20s", area.name) %><% end %> <%= link_to(edit_area_path(area)) do %><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><% end %> <%= link_to(area, method: :delete, data: { confirm: 'Are you sure?' } ) do %><span class="glyphicon glyphicon-remove" aria-hidden="true"></span><% end %></div></div>
              </td>
              <td><%= area.user.email %></td>
              <!-- Not used
              <td><%= link_to 'Edit', edit_area_path(area) %></td>
              <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              -->
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
    
    <div class="panel-footer">
      <%= link_to 'New Area', new_area_path %>
    </div>
    
</div>