<%- model_class = Area -%>

<div class="panel panel-default monospace">
    <div class="panel-heading"><h3>
        <%= @area.name %>
    </h3></div>
    <div class="panel-body">
      
      <div class="row">
        <div class="col-md-2">
          <strong>Area Owner:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @area.user.email %>
          </div>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong>Author:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @area.author %>
          </div>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong>Description:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= simple_format(word_wrap(@area.description, line_width: ApplicationController::WORDWRAP_LENGTH)) %>
          </div>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong>Area number:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @area.area_number %>
          </div>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong>Low Level:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @area.lowlevel %>
          </div>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong>High Level:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @area.highlevel %>
          </div>
        </div>
      </div><br/>
       
      <div class="row">
        <div class="col-md-2">
          <strong>Vnum qty assigned:</strong>
        </div>
        <div class="col-md-10">
          <div class="col-md-10">
            <%= @area.vnum_qty %>
          </div>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong>Area Flags:</strong>
        </div>
        <div class="col-md-10">
          <% if @area.flags == 0 %><div class="col-md-2">NATURAL</div><% end %>
          <% if @area.manmade? %><div class="col-md-2">MANMADE</div><% end %>
          <% if @area.city? %><div class="col-md-2">CITY</div><% end %>
          <% if @area.forest? %><div class="col-md-2">FOREST</div><% end %>
          <% if @area.limited? %><div class="col-md-2">LIMITED</div><% end %>
          <% if @area.aerial? %><div class="col-md-2">AERIAL</div><% end %>
          <% if @area.reserved? %><div class="col-md-2">RESERVED</div><% end %>
          <% if @area.arena? %><div class="col-md-2">ARENA</div><% end %>
          <% if @area.quest? %><div class="col-md-2">QUEST</div><% end %>
          <% if @area.novnum? %><div class="col-md-2">NOVNUM</div><% end %>
          <% if @area.no_save? %><div class="col-md-2">NOSAVE</div><% end %>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong><%= model_class.human_attribute_name(:default_room_flags) %>:</strong>
        </div>
        <div class="col-md-10">
          <% if @area.default_room_flags == 0 %><div class="col-md-2">NONE</div><% end %>
          <% if @area.dark? %><div class="col-md-2">DARK</div><% end %>
          <% if @area.no_sleep? %><div class="col-md-2">NO SLEEP</div><% end %>
          <% if @area.no_mob? %><div class="col-md-2">NO MOB</div><% end %>
          <% if @area.indoors? %><div class="col-md-2">INDOORS</div><% end %>
          <% if @area.foggy? %><div class="col-md-2">FOGGY</div><% end %>
          <% if @area.fire? %><div class="col-md-2">FIRE</div><% end %>
          <% if @area.lava? %><div class="col-md-2">LAVA</div><% end %>
          <% if @area.private_room? %><div class="col-md-2">PRIVATE</div><% end %>
          <% if @area.peaceful? %><div class="col-md-2">PEACEFUL</div><% end %>
          <% if @area.solitary? %><div class="col-md-2">SOLITARY</div><% end %>
          <% if @area.no_recall? %><div class="col-md-2">NO RECALL</div><% end %>
          <% if @area.no_steal? %><div class="col-md-2">NO STEAL</div><% end %>
          <% if @area.notrans? %><div class="col-md-2">NOTRANS</div><% end %>
          <% if @area.no_spell? %><div class="col-md-2">NO SPELL</div><% end %>
          <% if @area.seafloor? %><div class="col-md-2">SEAFLOOR</div><% end %>
          <% if @area.no_fly? %><div class="col-md-2">NO FLY</div><% end %>
          <% if @area.holy_ground? %><div class="col-md-2">HOLY GROUND</div><% end %>
          <% if @area.fly_ok? %><div class="col-md-2">FLY OK</div><% end %>
          <% if @area.no_quest? %><div class="col-md-2">NO QUEST</div><% end %>
          <% if @area.no_item? %><div class="col-md-2">NO ITEM</div><% end %>
          <% if @area.no_vnum? %><div class="col-md-2">NO VNUM</div><% end %>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong><%= model_class.human_attribute_name(:default_terrain) %>:</strong>
        </div>
        <div class="col-md-10">
          <% if @area.default_terrain == 0 %><div class="col-md-2">INSIDE</div><% end %>
          <% if @area.default_terrain == 1 %><div class="col-md-2">CITY</div><% end %>
          <% if @area.default_terrain == 2 %><div class="col-md-2">FIELD</div><% end %>
          <% if @area.default_terrain == 3 %><div class="col-md-2">FOREST</div><% end %>
          <% if @area.default_terrain == 4 %><div class="col-md-2">HILLS</div><% end %>
          <% if @area.default_terrain == 5 %><div class="col-md-2">MOUNTAIN</div><% end %>
          <% if @area.default_terrain == 6 %><div class="col-md-2">WATER SWIM</div><% end %>
          <% if @area.default_terrain == 7 %><div class="col-md-2">WATER NOSWIM</div><% end %>
          <% if @area.default_terrain == 8 %><div class="col-md-2">UNDERWATER</div><% end %>
          <% if @area.default_terrain == 9 %><div class="col-md-2">AIR</div><% end %>
          <% if @area.default_terrain == 10 %><div class="col-md-2">DESERT</div><% end %>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-2">
          <strong>Misc. Settings:</strong>
        </div>
        <div class="col-md-10">
          <% if @area.share_publicly? %><div class="col-md-2">PUBLICLY SHARED</div><% end %>
          <% if @area.use_rulers? %><div class="col-md-2">USE RULERS</div><% end %>
        </div>
      </div><br/>
      
      <div class="row">
        <div class="col-md-2">
          <strong>Shared with:</strong>
        </div>
        <div class="col-md-10">
          <% @area.shares.each do |share| %>
            <div class="col-md-4">
              <%= share.user_email %>
              <%= link_to area_share_path(@area, share), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
                <%= glyph 'remove' %>
              <%- end -%>
            </div>
          <% end %>
            <div class="col-md-4">
              <%= link_to 'Add a Share', new_area_share_path(@area), :class => 'btn btn-primary btn-xs' %>
            </div>
        </div>
      </div><br/>
      
      <hr>
      <div class="row center">
        
        <div class="btn-group" role="group">

          <%= link_to(area_helps_path(@area), :class => "btn btn-default") do %>
            Helps: <%= @area.helps.count %>
          <% end %>

          <%= link_to(area_mobiles_path(@area), :class => "btn btn-default") do %>
            Mobiles: <%= @area.mobiles.count %>
          <% end %>

          <%= link_to(area_objs_path(@area), :class => "btn btn-default") do %>
            Objects: <%= @area.objs.count %>
          <% end %>

          <%= link_to(area_rooms_path(@area), :class => "btn btn-default") do %>
            Rooms: <%= @area.rooms.count %>
          <% end %>

          <%= link_to(area_area_strings_path(@area), :class => "btn btn-default") do %>
            Strings: <%= @area.area_strings.count %>
          <% end %>

          <%= link_to(area_resets_path(@area), :class => "btn btn-default") do %>
            Resets: <%= @area.resets.count + @area.sub_resets.count + @area.door_reset_count %>
          <% end %>

          <%= link_to(area_shops_path(@area), :class => "btn btn-default") do %>
            Shops: <%= @area.shops.count %>
          <% end %>

          <%= link_to(area_specials_path(@area), :class => "btn btn-default") do %>
            Specials: <%= @area.specials.count %>
          <% end %>

          <%= link_to(area_triggers_path(@area), :class => "btn btn-default") do %>
            Triggers: <%= @area.triggers.count %>
          <% end %>
          
          <%= link_to(area_room_specials_path(@area), :class => "btn btn-default") do %>
            Rspecs: <%= @area.room_specials.count %>
          <% end %>
          
        </div>
        
      </div>
     
    </div>
    
    </br>
    
    <div class="panel-footer">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  areas_path(@area), :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_area_path(@area), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  area_path(@area),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
      <%= link_to 'Download', area_path(@area, :download => true), :class => 'btn btn-primary'  %>
      <%= link_to 'Preview', area_path(@area, :preview => true), :target => "_blank", :class => 'btn btn-success'  %>
      <%= link_to 'Review', area_path(@area, :review => true), :class => 'btn btn-warning'  %>
    </div>

</div>

<br/>
<strong class="monospace">Formatted #AREA Header:</strong>
<pre><%= render 'areas/areaheader' %></pre>
<br/>

<%#= render 'areas/review' %>
