<div class="panel panel-default">
    <div class="panel-heading monospace"><h3>
        <strong><%= @area.name %></strong>
    </h3></div>
    <div class="panel-body monospace">

      <p id="notice"><%= notice %></p>

<!--      
      <p>
        <strong>Name:</strong>
        <%= @area.name %>
      </p>
-->
      
      <p>
        <strong>Author:</strong>
        <%= @area.author %>
      </p>
      
      <p>
        <strong>Difficulty:</strong>
        <%= @area.difficulty %>
      </p>
      
      <table class="table">
        <tbody>
          <tr>
            <th>
              <%= link_to(area_helps_path(@area)) do %>
                Helps: <%= @area.helps.count %>
              <% end %>
            </th>
            <th>
              Mobiles: x
            </th>
            <th>
              Objects: x
            </th>
            <th>
              <%= link_to(area_rooms_path(@area)) do %>
                Rooms: <%= @area.rooms.count %>
              <% end %>
            </th>
            <th>
              Resets: x
            </th>
            <th>
              Shops: x
            </th>
            <th>
              Specials: x
            </th>
            <th>
              Triggers: x
            </th>
            <th>
              Rspecs: x
            </th>
          </tr>
       </tbody>
     </table>
     
    <strong>Formatted area header:</strong>
    <p>
        <%= render 'areas/areablock' %>
    </p>
    
    </div>
    

    
    <div class="panel-footer">
      <%= link_to 'Edit', edit_area_path(@area) %> |
      <%= link_to 'Back', areas_path %>
    </div>
    
</div>