<div class="panel panel-default">
    <div class="panel-heading monospace"><h3><%= @area.name %></h3></div>
    <div class="panel-body monospace">

      <p id="notice"><%= notice %></p>

<!--      
      <p>
        <strong>Name:</strong>
        <%= @area.name %>
      </p>
-->
      
      <p>
        <strong>Author:</strong>
        <%= @area.author %>
      </p>
      
      <p>
        <strong>Difficulty:</strong>
        <%= @area.difficulty %>
      </p>
      
      <p>
        <%= render 'areas/areablock' %>
      </p>
      
      <p>
        <%= link_to(area_helps_path(@area)) do %>
          Helps: <%= @area.helps.count %>
        <% end %>
      </p>

    </div>
    
    <div class="panel-footer">
      <%= link_to 'Edit', edit_area_path(@area) %> |
      <%= link_to 'Back', areas_path %>
    </div>
    
</div>