<% @reset = @area.resets.build %>
<%= form_for  [@reset.area, @reset], :url => area_resets_path(@reset.area, :return_to_room => @room.id), :html => { :class => 'form-inline center' } do |f| %>
  <% if @reset.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@reset.errors.count, "error") %> prohibited saving:</h3>

      <ul>
      <% @reset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :reset_type, :value => 'M' %>
  <%= f.hidden_field :val_1, :value => 0 %>

  <div class="form-group">
    <%= f.label :val_2, 'Mobile', :class => 'sr-only' %>
      <%= f.collection_select(:val_2, @area.mobiles.order('vnum ASC'), :id, :vnum_and_sdesc, {}, {:id => 'MobileVnumField', :class => 'form-control'})  %>
  </div>
  
  <div class="form-group">
    <%= f.label :val_3, 'Mudwide Limit', :class => 'sr-only' %>
      <%= f.text_field :val_3, :class => 'text_field form-control col-md-1', :placeholder => 'Limit' %>
  </div>
  
  <%= f.hidden_field :val_4, :value => @room.id %>

  <%= f.submit 'Add Mobile Reset', :class => 'btn btn-default' %>

<% end %>
</br>
<%= form_for  [@reset.area, @reset], :url => area_resets_path(@reset.area, :return_to_room => @room.id), :html => { :class => 'form-inline center' } do |f| %>
  <% if @reset.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@reset.errors.count, "error") %> prohibited saving:</h3>

      <ul>
      <% @reset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <%= f.hidden_field :reset_type, :value => 'O' %>
  <%= f.hidden_field :val_1, :value => 0 %>

    <div class="form-group">
      <%= f.label :val_2, 'Object', :class => 'sr-only' %>
        <%= f.collection_select(:val_2, @area.objs.order('vnum ASC'), :id, :vnum_and_sdesc, {}, {:id => 'ObjectVnumField', :class => 'form-control'})  %>
    </div>
    
    <div class="form-group">
      <%= f.label :val_3, 'Mudwide Limit', :class => 'sr-only' %>
        <%= f.text_field :val_3, :class => 'text_field form-control col-md-1', :placeholder => 'Limit' %>
    </div>
    
    <%= f.hidden_field :val_4, :value => @room.id %>

  <%= f.hidden_field :val_4, :value => @room.id %>
  
  <%= f.submit 'Add Object Reset', :class => 'btn btn-default' %>

<% end %>
</br>