<div class="col-md-2">
  <% if @room.exit_dir_exists?(dir) %>
    <% $this_exit = @room.exits.where(direction: dir).first %>
    
    <% if $this_exit.destination_exists? %>
      <% $dest_room = $this_exit.destination %>
      
      <!-- IF EXIT IN THIS DIR AND THE DESTINATION EXISTS -->
      <%= link_to area_room_path(@area, $dest_room), :class => 'btn btn-success btn-xs btn-block' do %>
          <%= simple_format ( word_wrap("#{$this_exit.direction_word} to [#{$this_exit.destination.formal_vnum}] #{$dest_room.name}", line_width: 19) ) %>
      <% end %>
      
    <% else %>
      <!-- IF EXIT IN THIS DIR BUT THE DESTINATION DOES NOT EXIST -->
      
      <% if $this_exit.exittype == -1 %>
        <%= link_to edit_area_room_exit_path(@area, @room, $this_exit), :class => 'btn btn-primary btn-xs btn-block' do %>
          No <%= num_to_dir(dir).titleize %> Exit<br>
          <br>
          Look Only
        <% end %>
        
      <% end %>

      <% if $this_exit.is_external? %>
        <%= link_to edit_area_room_exit_path(@area, @room, $this_exit), :class => 'btn btn-warning btn-xs btn-block' do %>
          <%= num_to_dir(dir).titleize %> Exit<br>
          To External:<br>
          [<%= $this_exit.exit_room_id %>]
        <% end %>
      <% end %>
      
      <% if $this_exit.is_bad? %>
        <%= link_to edit_area_room_exit_path(@area, @room, $this_exit), :class => 'btn btn-danger btn-xs btn-block' do %>
          <%= num_to_dir(dir).titleize %> Exit<br>
          is<br>
          BAD
        <% end %>
        
      <% end %>
      
    <% end %>
    
  <% else %>
    <% if @area.rooms.count < @area.vnum_qty %>
      <%= link_to new_area_room_exit_path(@area, @room, :make_reciprocal => true, :dir => dir), :class => 'btn btn-default btn-xs btn-block' do %>
        No <%= num_to_dir(dir).titleize %> Exit<br>
        Add<br>
        Reciprocal?
      <% end %>
    <% else %>
      <%= link_to new_area_room_exit_path(@area, @room, :dir => dir), :class => 'btn btn-default btn-xs btn-block' do %>
        No <%= num_to_dir(dir).titleize %> Exit<br>
        <br>
        Add Exit?
      <% end %>
    <% end %>
  <% end %>

</div>