<%= form_for  [@room.area, @room], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :vnum, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :vnum, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text_field form-control', rows: 20 %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :room_flags, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :room_flags, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :terrain, :class => 'control-label col-md-2' %> 
    <div class="col-md-10">
    <%= f.select(:terrain, options_for_select(
          [
            ['INSIDE', 0],
            ['CITY', 1],
            ['FIELD', 2],
            ['FOREST', 3],
            ['HILLS', 4],
            ['MOUNTAIN', 5],
            ['WATER SWIM', 6],
            ['WATER NOSWIM', 7],
            ['UNDERWATER', 8],
            ['AIR', 9],
            ['DESERT', 10]
          ], 0
        ), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :area_id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :area_id, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_rooms_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
