<%= form_for  [@room.area, @room], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@room.errors.count, "error") %> prohibited saving:</h3>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :vnum, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :vnum, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text_field form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text_field form-control', cols: (ApplicationController::WORDWRAP_LENGTH - 5), rows: 20 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :room_flags, :class => 'control-label col-md-2' %>
    <div class="col-md-10">

        <div class="check_box col-md-2">
          <%= f.check_box :dark, {:checked => @room.dark? ? true : false} %>
          <%= f.label :dark, 'dark'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_sleep, {:checked => @room.no_sleep? ? true : false} %>
          <%= f.label :no_sleep, 'no_sleep'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_mob, {:checked => @room.no_mob? ? true : false} %>
          <%= f.label :no_mob, 'no_mob'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :indoors, {:checked => @room.indoors? ? true : false} %>
          <%= f.label :indoors, 'indoors'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :foggy, {:checked => @room.foggy? ? true : false} %>
          <%= f.label :foggy, 'foggy'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :fire, {:checked => @room.fire? ? true : false} %>
          <%= f.label :fire, 'fire'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :lava, {:checked => @room.lava? ? true : false} %>
          <%= f.label :lava, 'lava'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :private_room, {:checked => @room.private_room? ? true : false} %>
          <%= f.label :private_room, 'private_room'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :peaceful, {:checked => @room.peaceful? ? true : false} %>
          <%= f.label :peaceful, 'peaceful'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :solitary, {:checked => @room.solitary? ? true : false} %>
          <%= f.label :solitary, 'solitary'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_recall, {:checked => @room.no_recall? ? true : false} %>
          <%= f.label :no_recall, 'no_recall'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_steal, {:checked => @room.no_steal? ? true : false} %>
          <%= f.label :no_steal, 'no_steal'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :notrans, {:checked => @room.notrans? ? true : false} %>
          <%= f.label :notrans, 'notrans'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_spell, {:checked => @room.no_spell? ? true : false} %>
          <%= f.label :no_spell, 'no_spell'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :seafloor, {:checked => @room.seafloor? ? true : false} %>
          <%= f.label :seafloor, 'seafloor'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_fly, {:checked => @room.no_fly? ? true : false} %>
          <%= f.label :no_fly, 'no_fly'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :holy_ground, {:checked => @room.holy_ground? ? true : false} %>
          <%= f.label :holy_ground, 'holy_ground'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :fly_ok, {:checked => @room.fly_ok? ? true : false} %>
          <%= f.label :fly_ok, 'fly_ok'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_quest, {:checked => @room.no_quest? ? true : false} %>
          <%= f.label :no_quest, 'no_quest'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_item, {:checked => @room.no_item? ? true : false} %>
          <%= f.label :no_item, 'no_item'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>
        <div class="check_box col-md-2">
          <%= f.check_box :no_vnum, {:checked => @room.no_vnum? ? true : false} %>
          <%= f.label :no_vnum, 'no_vnum'.humanize.upcase, :class => 'control-label non-bold' %>
        </div>

    </div>  
  </div>
  
  <div class="form-group">
    <%= f.label :terrain, :class => 'control-label col-md-2' %> 
    <div class="col-md-10">
    <%= f.select(:terrain, options_for_select(
          [
            ['INSIDE', 0],
            ['CITY', 1],
            ['FIELD', 2],
            ['FOREST', 3],
            ['HILLS', 4],
            ['MOUNTAIN', 5],
            ['WATER SWIM', 6],
            ['WATER NOSWIM', 7],
            ['UNDERWATER', 8],
            ['AIR', 9],
            ['DESERT', 10]
          ], @room.terrain
        ), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_rooms_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
