<div id=<%= "\"mobile_reset_#{reset.id}\"".html_safe %> hidden='hidden'><% mobile = Mobile.find(reset.mobile_id) %><font color=yellow>look <%= mobile.keywords.slice(/\w+/) %> peek</font>

<font color=silver><%= word_wrap(mobile.look_desc, line_width: WORDWRAP_LENGTH) %>
<%= link_to mobile.sdesc.humanize, edit_area_mobile_path(@area, mobile, :return_to_room => @room.id), {:style => 'color: silver'} %> is in perfect health.
<% if reset.sub_resets.where(:reset_type => 'E').count > 0 %>

<%= mobile.sdesc.humanize %> is using:
<% reset.sub_resets.where(:reset_type => 'E').order(:val_4).each do |sub_reset| %><%= sub_reset.equip_view_prefix %><%=
render 'inventory_obj_view', :reset => sub_reset, :prefix => '                     ' %>
<% end %><% end %>
<font color=silver>You peek at the inventory:
<% if reset.sub_resets.where(:reset_type => 'G').count > 0 %><font color=green><% reset.sub_resets.where(:reset_type => 'G').each do |sub_reset| %><%=
render 'inventory_obj_view', :reset => sub_reset, :prefix => '' %>
<% end %></font><% else %>     Nothing.
<% end %>

></font></font> [ <%= link_to 'give', new_area_reset_sub_reset_path(@area, reset, :reset_type => 'G', :return_to_room => @room.id) %><% if
mobile_info(reset.val_2, 'can_wear?') %> | <%= link_to 'equip', new_area_reset_sub_reset_path(@area, reset, :reset_type => 'E',
:return_to_room => @room.id ) %><% end %> ]</div>