<div class="jumbotron monospace-pre"><% if current_user.use_rulers? %><%= WORDWRAP_RULER %>
<% end %><font color=white>[<%= @room.formal_vnum %>]<% if @room.room_flags > 0 %> [<%= @room.room_flags_as_string %>]<% end %> &lt<%= @room.terrain_word %>&gt<%= render 'roomspecial'%></font>

<%= link_to "<font color='darkcyan'>#{@room.name.gsub("<","&lt;").gsub(">","&gt;")}</font>".html_safe, edit_area_room_path(@area, @room) %>
<font color=red>[</font><font color=darkred>Exits:<% if @room.exits.where("exittype > ?", -1).count < 1 %> <font color=white>none</font><% end %><% @room.exits.where("exittype > ?", -1).order(:direction).each do |exit| %> <u><%
if exit.destination_exists? %><%= link_to exit.direction_word.downcase, area_room_path(@area, exit.destination), {:style => 'color: darkred'} %><% else %><%=
link_to exit.direction_word.downcase, edit_area_room_exit_path(@area, @room, exit), {:style => 'color: darkred'} %><% end %></u><% end %></font><font color=red>]</font> <% if @room.exits.where(:exittype => -1).count > 0 %><font color=#505050>(Look:<% @room.exits.where(exittype: -1).order(:direction).each do |exit| %> <u><%=
link_to exit.direction_word.downcase, edit_area_room_exit_path(@area, @room, exit), {:style => 'color: #505050'} %></u><% end %>)</font><% end %>
<%= word_wrap(@room.description, line_width: WORDWRAP_LENGTH) %>
<% if @room.has_contents? %>

<%= render 'objs_in_room' %><%= render 'mobs_in_room'%><% end %>
<font color=lightgray>></font><% if @area.resets.where(reset_type: ['M', 'Q']).where(val_4: @room.id).count > 0 %><%
@area.resets.order(:val_2).where(reset_type: ['M', 'Q']).where(val_4: @room.id).each do |reset| %><% if Mobile.exists?(:id => reset.obj_id) %><%=
render 'mudmobileview', :reset => reset %><%=
render 'mudmobilepoke', :reset => reset %><% end %><% end %><% end %>

<% if current_user.use_rulers? %><%= WORDWRAP_RULER %><% end %></div>