<div class="jumbotron monospace-pre">[<%= @room.formal_vnum %>] <%= @room.name %><% if @room.room_flags > 0 %> [<%= @room.room_flags_as_string %>]<% end %> &lt<%= @room.terrain_word %>&gt
<font color=red>[</font><font color=darkred>Exits:<% @room.exits.order(:direction).each do |exit| %> <u><% if exit.destination_exists? %><%= link_to exit.direction_word.downcase, area_room_path(@area, exit.destination), {:style => 'color: darkred'} %><% else %><%= link_to exit.direction_word.downcase, edit_area_room_exit_path(@area, @room, exit), {:style => 'color: darkred'} %><% end %></u><% end %></font><font color=red>]</font>
<%= word_wrap(@room.description, line_width: ApplicationController::WORDWRAP_LENGTH) %>

<font color=lightgray>></font></div>

