<%- model_class = Room -%>
<%= form_tag edit_multiple_area_rooms_path(@area), :method => :put, :class => 'form-horizontal' do %>

<div class="panel panel-default monospace">
    <div class="panel-heading"><h3>
      <%= link_to @area.name, area_path(@area) %> / Edit Selected Rooms
    </h3></div>
    <div class="panel-body">
      
      
      <div class="form-group">
        <%= label_tag :rooms, 'Selected Rooms', :class => 'control-label col-md-2' %>
        <div class="col-md-10">
          <ul class="list-unstyled">
          <% @rooms.each do |room| %>
            <li>
              <%= hidden_field_tag "room_ids[]", room.id %>
              <%= room.formal_vnum %> <%= room.name %>
              <ul class="list-group-item-danger">
                <% room.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      
      
      <%= fields_for :room do |f| %>
      
      
        <div class="form-group">
          <%= f.label :name, :class => 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :name, :class => 'text_field form-control' %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :description, :class => 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= ruler %><%= f.text_area :description, :class => 'text_field form-control', rows: 20 %>
          </div>
        </div>
      

        <div class="form-group">
          <%= f.label :room_flags, :class => 'control-label col-md-2' %>
          <div class="col-md-10">
      
              <div class="form-inline col-md-3">
                <%= f.select :dark, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :dark, 'dark'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_sleep, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_sleep, 'no_sleep'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_mob, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_mob, 'no_mob'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :indoors, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :indoors, 'indoors'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :foggy, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :foggy, 'foggy'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :fire, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :fire, 'fire'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :lava, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :lava, 'lava'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :private_room, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :private_room, 'private_room'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :peaceful, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :peaceful, 'peaceful'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :solitary, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :solitary, 'solitary'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_recall, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_recall, 'no_recall'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_steal, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_steal, 'no_steal'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :notrans, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :notrans, 'notrans'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_spell, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_spell, 'no_spell'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :seafloor, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :seafloor, 'seafloor'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_fly, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_fly, 'no_fly'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :holy_ground, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :holy_ground, 'holy_ground'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :fly_ok, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :fly_ok, 'fly_ok'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_quest, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_quest, 'no_quest'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_item, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_item, 'no_item'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
              <div class="form-inline col-md-3">
                <%= f.select :no_vnum, [["Set", true], ["Unset", false]], {:include_blank => true}, {class: "form-control small-select"} %>
                <%= f.label :no_vnum, 'no_vnum'.humanize.upcase, :class => 'control-label non-bold' %>
              </div>
      
          </div>  
        </div>
        
        
        <div class="form-group">
          <%= f.label :terrain, :class => 'control-label col-md-2' %> 
          <div class="col-md-10">
          <%= f.select(:terrain, options_for_select(
                [
                  ['INSIDE', 0],
                  ['CITY', 1],
                  ['FIELD', 2],
                  ['FOREST', 3],
                  ['HILLS', 4],
                  ['MOUNTAIN', 5],
                  ['WATER SWIM', 6],
                  ['WATER NOSWIM', 7],
                  ['UNDERWATER', 8],
                  ['AIR', 9],
                  ['DESERT', 10]
                ]
              ), {:include_blank => true}, {class: "form-control"}) %>
          </div>
        </div>
      
      
      <% end %>


    </div>

    <div class="panel-footer">
      <%= submit_tag "Update Rooms", :class => 'btn btn-primary' %>
      <%= link_to 'Back', area_rooms_path(@area), :class => 'btn btn-default' %>
    </div>
    
</div>
<% end %>