<%- model_class = Room -%>

<div class="panel panel-default monospace">
    <div class="panel-heading">
      <h3>
        <%= link_to @area.name, area_path(@area) %> /
        <%= link_to 'Rooms', area_rooms_path(@area) %> /
        Room: <%= @room.vnum %>
        <div class="btn-group pull-right" role="group" aria-label="...">
          <% if @room.last_room %><%= link_to "Last Room: #{@room.last_room.vnum}", area_room_path(@area, @room.last_room), :class => 'btn btn-default' %><% end %>
          <% if @room.next_room %><%= link_to "Next Room: #{@room.next_room.vnum}", area_room_path(@area, @room.next_room), :class => 'btn btn-default' %><% end %>
        </div>
      </h3>
    </div>
    <div class="panel-body">
      
      <%= render 'mudroomview' %>
      
      <%= render 'add_resets' %>

      <%= render 'rooms/exitmap', :room => @room %>
          
      <%= render 'rooms/exitstable', :room => @room %>
      
      <%= render 'rooms/rxdescstable', :room => @room %>

      <br/>
      
    <strong class="monospace">Formatted Room:</strong>
    <p>
        <pre><%= render 'rooms/roomblock', :room => @room %></pre>
    </p>

    <% if @room.exits.where(:reset => 0).count + @room.exits.where(:reset => 1).count + @room.exits.where(:reset => 2).count > 0 %>
      <strong class="monospace">Formatted Resets:</strong>
      <p>
          <pre><%= render 'rooms/doorresetsblock', :exits => @room.exits %></pre>
      </p>
    <% end %>
      
    <% if @room.room_specials.count > 0 %>
      <strong class="monospace">Formatted Room Special:</strong>
      <p>
          <pre><%= render 'room_specials/room_specialblock', :room_special => @room.room_specials.first %></pre>
      </p>
    <% end %>
    
    <strong class="monospace">Formatted Trigger(s):</strong>
    <p><pre><% @room.exits.each do |exit| %><% if exit.triggers.count > 0 %><%= render 'triggers/triggerblock', :trigger => exit.triggers.first %>
<% end %><% end %></pre></p>

    </div>

    <div class="panel-footer">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  area_rooms_path(@area), :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_area_room_path(@area, @room), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  area_room_path(@area, @room),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    </div>
    
</div>
