<% hours_list = [
                  ['12AM (00:00)', 0],
                  [' 1AM (01:00)', 1],
                  [' 2AM (02:00)', 2],
                  [' 3AM (03:00)', 3],
                  [' 4AM (04:00)', 4],
                  [' 5AM (05:00)', 5],
                  [' 6AM (06:00)', 6],
                  [' 7AM (07:00)', 7],
                  [' 8AM (08:00)', 8],
                  [' 9AM (09:00)', 9],
                  ['10AM (10:00)', 10],
                  ['11AM (11:00)', 11],
                  ['12PM (12:00)', 12],
                  [' 1PM (13:00)', 13],
                  [' 2PM (14:00)', 14],
                  [' 3PM (15:00)', 15],
                  [' 4PM (16:00)', 16],
                  [' 5PM (17:00)', 17],
                  [' 6PM (18:00)', 18],
                  [' 7PM (19:00)', 19],
                  [' 8PM (20:00)', 20],
                  [' 9PM (21:00)', 21],
                  ['10PM (22:00)', 22],
                  ['11PM (23:00)', 23],
                ]
%>

<%= form_for [@trigger.exit.room.area , @trigger.exit.room, @trigger.exit, @trigger], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @trigger.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@trigger.errors.count, "error") %> prohibited saving:</h3>

      <ul>
      <% @trigger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :trigger_type, 'Trigger Type', :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.select(:trigger_type, options_for_select(
          [
            ['Trigger After Move', 'A'],
            ['Trigger Before Move', 'P'],
            ['Extended Trigger Before Move', 'Q']
          ], @trigger.trigger_type
        ), {}, {class: "form-control"}) %>
    </div>
  </div>
  
  <fieldset id="TriggerAfterMove">
    <div class="form-group">
      <%= f.label :name, 'Trigger Name', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.select(:name, options_for_select(
            [
              ['spec_cavein', 'spec_cavein'],
              ['spec_crack_head', 'spec_crack_head'],
              ['spec_long_fall', 'spec_long_fall'],
              ['spec_medium_fall', 'spec_medium_fall'],
              ['spec_short_fall', 'spec_short_fall'],
              ['spec_shut_door', 'spec_shut_door'],
              ['spec_splash', 'spec_splash'],
              ['spec_teleporter', 'spec_teleporter']
            ], @trigger.name
          ), {}, {class: "form-control"}) %>
      </div>
    </div>
  </fieldset>
  
  <fieldset hidden='hidden' id="TriggerBeforeMove">
    <div class="form-group">
      <%= f.label :name, 'Trigger Name', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.select(:name, options_for_select(
            [
              ['spec_evil_only', 'spec_evil_only'],
              ['spec_good_only', 'spec_good_only'],
              ['spec_neutral_only', 'spec_neutral_only'],
              ['spec_bard_only', 'spec_bard_only'],
              ['spec_cleric_only', 'spec_cleric_only'],
              ['spec_mage_only', 'spec_mage_only'],
              ['spec_ranger_only', 'spec_ranger_only'],
              ['spec_shaman_only', 'spec_shaman_only'],
              ['spec_thief_only', 'spec_thief_only'],
              ['spec_thug_only', 'spec_thug_only'],
              ['spec_warrior_only', 'spec_warrior_only'],
              ['spec_warrior_only2', 'spec_warrior_only2'],
              ['spec_mudschool_newbies', 'spec_mudschool_newbies'],
              ['spec_guild_entrance', 'spec_guild_entrance'],
              ['spec_vortex_entry', 'spec_vortex_entry'],
              ['spec_vortex_exit', 'spec_vortex_exit'],
              ['spec_fallin', 'spec_fallin']
            ], @trigger.name
          ), {}, {class: "form-control"}) %>
      </div>
    </div>
  </fieldset>
  
  <fieldset hidden='hidden' id="ExtendedTriggerBeforeMove">
    <div class="form-group">
      <%= f.label :name, 'Trigger Name', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.select(:name, options_for_select(
            [
              ['trig_block_heathen', 'trig_block_heathen'],
              ['trig_sentinel_mob', 'trig_sentinel_mob'],
              ['trig_time_block', 'trig_time_block']
            ], @trigger.name
          ), {}, {id: "ExtendedTriggerBeforeMoveType", class: "form-control"}) %>
      </div>
    </div>
  </fieldset>
  
  <fieldset id="xGeneric">  
    <div class="form-group">
      <%= f.label :extended_value_1, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :extended_value_1, :class => 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :extended_value_2, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :extended_value_2, :class => 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :extended_value_3, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :extended_value_3, :class => 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :extended_value_4, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :extended_value_4, :class => 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :extended_value_5, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :extended_value_5, :class => 'text_field form-control' %>
      </div>
    </div>
  </fieldset>
  
  <fieldset id="xBlockHeathen">
    blockheathen
  </fieldset>
  
  <fieldset id="xSentinelMob">
    sentinel
  </fieldset>
  
  <fieldset id="xTimeBlock">
    
    <div class="form-group">
      <%= f.label :extended_value_1, 'Start time', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.select(:extended_value_1, options_for_select(hours_list, @trigger.extended_value_1
            ), {}, {id: "StartTime", class: "form-control"}) %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :extended_value_2, 'End time', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.select(:extended_value_2, options_for_select(hours_list, @trigger.extended_value_2
            ), {}, {id: "EndTime", class: "form-control"}) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :extended_value_3, 'Success message', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
      <%= f.select(:extended_value_3, options_for_select(
          [['No success message', -1]] + @area.area_strings.order('vnum ASC').map{ |e| [e.vnum_and_strings, e.id] }, @trigger.extended_value_3
        ), {}, {class: "form-control"}) %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :extended_value_4, 'Failure message', :class => 'control-label col-md-2' %>
      <div class="col-md-10">
      <%= f.select(:extended_value_4, options_for_select(
          [['No failure message', -1]] + @area.area_strings.order('vnum ASC').map{ |e| [e.vnum_and_strings, e.id] }, @trigger.extended_value_4
        ), {}, {class: "form-control"}) %>
      </div>
    </div>

    <%= f.hidden_field :extended_value_5, :value => -1 %>
    
  </fieldset>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  area_room_path(@area, @room), :class => 'btn btn-default' %>
    </div>
  </div>
  
<script type = "text/javascript">
  initTriggersForm();
</script>

<% end %>
